[2015-12-04 14:06] carlio commented on #202
@tomato42 thanks for the report, seems I was setting the status on the "from" repo instead of the "base" repo - should now be fixed for future PRs :+1:

[2015-12-04 14:06] #202 closed, assigned to nobody

[2015-12-04 14:25] tomato42 commented on #202
nice, thanks! will report back if it didn't help

[2015-12-04 15:44] tomato42 commented on #202
After the patches were reworked and pushed again I still don't see the status update for it...

[2015-12-07 18:34] xwsxethan opened #203 "All Checks Failing since Friday (Possibly Related to Status API Change)"
Ever since Friday (at least I think, I can't easily find history further back), all the branches in my repo have  had the landscape check fail. Here is the detail text:

`Check number 60 has failed. This is almost always due to a bug in Landscape - we have been notified. Sorry about that.

Failure reason: Prospector execution failed

The checking tool, prospector, did not complete correctly`

Usua

[2015-12-07 22:24] carlio commented on #203
Hi @xwsxethan , this turned out to be an underlying prospector bug related to pylintrc files. I've fixed it now and re-run the failed checks for your repository (although only the master branch, as the other checks can't be run due to the branch being deleted now). Cheers!

[2015-12-07 22:24] #203 closed, assigned to nobody

[2015-12-07 22:34] xwsxethan commented on #203
I just saw and came back to check. Thanks for the prompt fix, looks better than ever!

[2015-12-08 16:48] peterjc commented on #186
I found the little red cross on the dashboard, but is that still the only route to stop checking a repository?

I was expecting perhaps the "Add repository" screen could be expanded to add/remove?

[2015-12-09 00:05] carlio commented on #201
Can you tell me which timezone on which page? Also which repository? Thanks!

[2015-12-09 00:24] ranisalt opened #204 "Missing type hinting support"
My repository has dropped over 30% in health since I updated it to use type hinting for stricter testing. It should in fact issue a higher health rate as code can be safer with hints.

Here's the line causing the failure: https://landscape.io/github/ranisalt/moita/22/messages/error?page=1#errors

The entire file is now 0% health. Support for hinting was included in Python 3.5 and does not change s

[2015-12-09 04:36] valsaven commented on #201
UTC+5
https://landscape.io/github/valsaven/gtn/7
It writes 5:35am instead of 9:35am

[2015-12-09 05:59] carlio commented on #86
Finally implemented the "hiding from dashboard" feature :)

I'll look into "filter by organisation" now

[2015-12-09 09:36] tomato42 opened #205 "Reworked pull requests don't get status updates"
So it looks like the #202 did not get fixed completely, tomato42/tlslite-ng#68 is still not getting status updates. Note that this is a pull request which was re-based and re-pushed.

[2015-12-09 14:35] gtback commented on #86
Looks great, @carlio . Thanks!

[2015-12-10 02:10] carlio commented on #201
@valsaven Timezone is now detected based on ip lookup - if it's still not correct, you can also set it manually here: https://landscape.io/preferences/locale :beer:

[2015-12-10 02:10] #201 closed, assigned to nobody

[2015-12-10 02:41] carlio commented on #205
@tomato42 Figured this out I think - the GitHub repository push hook for Landscape was only sending `push` events for your repository, not the `pull_request` events. This was the old setting which should have been updated but it seems it was not for your repository. I have updated it now, so if you try again you should get status updates.

[2015-12-10 02:48] carlio commented on #189
@felixduvallet @thedrow Do you still have this problem? Organisation membership should sync eventually. Can you also tell me the names of the organisations? Thanks!

[2015-12-10 03:34] carlio commented on #152
@evilaliv3 Finally fixed this :)  https://landscape.io/github/globaleaks/GlobaLeaks/1707/requirements

[2015-12-10 03:34] #152 closed, assigned to nobody

[2015-12-10 04:35] carlio commented on #86
Filtering by organisation now works too :beer:

[2015-12-10 04:35] #86 closed, assigned to nobody

[2015-12-10 04:36] #16 closed, assigned to nobody

[2015-12-10 04:47] carlio commented on #16
There's now a "refresh" icon to force a check of the head of whatever branch you're looking at.

[2015-12-10 04:48] carlio commented on #137
There's now a "refresh" icon to force a check of the head of whatever branch you're looking at.

[2015-12-10 04:48] #137 closed, assigned to nobody

[2015-12-10 05:05] carlio commented on #135
I solved this the easy way by simply hiding failed checks which happen on branches called `gh-pages`. Feel free to reopen if you think it needs to be more configurable than that!

[2015-12-10 05:05] #135 closed, assigned to nobody

[2015-12-10 05:26] thedrow commented on #189
Yes I still have that problem.
I'm having problems with the getdrifter organization.

[2015-12-10 05:55] carlio commented on #189
It seems like the GitHub API just isn't returning new organisation membership information. I just created a new one and have the same issue. I will send a message to GitHub support.

[2015-12-10 06:14] carlio commented on #111
This has been done for a while, forgot to close this issue.

[2015-12-10 06:14] #111 closed, assigned to nobody

[2015-12-10 08:41] carlio commented on #32
Ok so I was perhaps a bit slow at doing this... But it's getting there. Do any of you have any projects you would like to be guinea pigs to help work out the bugs before I release the feature fully?

[2015-12-10 08:44] The-Compiler commented on #32
Glad to hear there's some progress! I could help testing with [qutebrowser](https://github.com/The-Compiler/qutebrowser).

[2015-12-10 08:45] carlio commented on #32
@The-Compiler sounds good - I'll add ~~a horrible hack~~ it to the list of projects to be checked with python3 :+1:

[2015-12-10 09:11] evilaliv3 opened #206 "Different results on different but aligned branches"
While working on (GlobaLeaks)[https://github.com/globaleaks/GlobaLeaks] i've got strange results where aligned branches got different percentile.

Results from yesterday show that landscape is failing to detect the same errors:
- https://landscape.io/github/globaleaks/GlobaLeaks/1710 (devel)
- https://landscape.io/github/globaleaks/GlobaLeaks/1707 (master)

The above examples are two different bra

[2015-12-10 09:24] carlio commented on #189
It turns out that newly created organisations now have 3rd-party access disabled by default, so they won't show up even if you log out of landscape and in again. I will add some text to the add-repository page to explain this and what to do.

In the meantime, if you want to add new organsations:
- go here: https://github.com/settings/connections/applications/82ca3a47d218a80f3962  then allow access

[2015-12-10 09:36] felixduvallet commented on #189
Thanks for the workaround, that worked for me and my organization. (Note
the link wasn't the same URL for me, so you may need a different way to
point users to the right place.)
Felix

On Thu, Dec 10, 2015 at 10:24 AM, Carl Crowder notifications@github.com
wrote:

[2015-12-10 09:37] carlio commented on #189
@felixduvallet thanks for the heads-up, I noticed other services like travis-ci were using some kind of hex-string in their URL. I'll have to find out where that comes from!

[2015-12-10 09:45] carlio commented on #189
Corrected link: https://github.com/settings/connections/applications/82ca3a47d218a80f3962

[2015-12-10 09:48] felixduvallet commented on #189
This works for me.
Felix

On Thu, Dec 10, 2015 at 10:45 AM, Carl Crowder notifications@github.com
wrote:

[2015-12-10 12:44] idlesign commented on #32
@carlio One with cyrillics: https://landscape.io/github/idlesign/pythonz

[2015-12-10 14:14] gtback commented on #86
:grinning: Thanks so much!

[2015-12-10 15:27] thedrow commented on #189
@carlio I already did before I commented on this issue and the organization still doesn't appear after I sync.

[2015-12-10 19:26] ids1024 commented on #32
@carlino That's great to hear! If you have a list, you can add mps-youtube and wikicurses to it.

[2015-12-10 20:37] carlio commented on #32
@idlesign Added, but most of the issues were due to including cyrillics without using an encoding declaration (see [PEP0263](https://www.python.org/dev/peps/pep-0263/)), which may be worth doing if you care about python2 at all.

@ids1024 Added both, mps-youtube didn't change much but wikicurses is no longer plagued by "syntax errors" :)

[2015-12-11 03:04] idlesign commented on #32
@carlio This one is Py3 only.

[2015-12-11 03:08] carlio commented on #32
@idlesign Fair enough :)

[2015-12-11 03:26] tiagoantao commented on #32
If you want feedback from biopython, glad to help
On Dec 10, 2015 8:09 PM, "Carl Crowder" notifications@github.com wrote:

[2015-12-11 10:40] FrancescoCeruti commented on #32
@carlio Great!
you can try with https://landscape.io/github/FrancescoCeruti/linux-show-player (py3 only)

[2015-12-11 12:30] carlio commented on #32
@tiagoantao @FrancescoCeruti thanks, I've added both!

[2015-12-14 17:24] evilaliv3 commented on #206
@carlio do you have any hint on this?

[2015-12-15 12:12] tomato42 commented on #205
Unfortunately can't confirm that it's working: https://github.com/tomato42/tlslite-ng/pull/82

[2015-12-16 03:15] carlio commented on #205
@tomato42 This this is figured out now. It was failing to start the comparison because it was trying to set the status on kkaarreell's repository instead of the base repository. Future PRs should work, or if you push changes to that one. Sorry, seems like this was 3 different bugs all together!

[2015-12-16 12:32] tomato42 commented on #205
And indeed it seems to be fixed.

Thank you very much!

[2015-12-16 12:32] #205 closed, assigned to nobody

[2015-12-16 12:32] carlio commented on #205
Joy unconfined :)

[2015-12-17 02:47] carlio commented on #204
@ranisalt This was due to Landscape not supporting Python 3, but I have added Python 3 support in the last few days. The problem now is that the default assumption is still Python 2. You can make Landscape use 3 by either adding trove classifiers in your setup.py indicating what versions you support, and/or adding a Landscape configuration file:

More info in the docs here: https://docs.landscape.

[2015-12-17 02:47] #204 closed, assigned to nobody

[2015-12-17 03:42] ranisalt commented on #204
Thanx! Worked like a charm, plus now I have a 100% health badge hahahah

[2015-12-30 19:18] jeda opened #207 "Tests not working"
When I did a commit, I saw Landscape didn't receive it. When I set it to test myself, it has been frozen "testing" for days. It's not working for nothing.

[2015-12-31 04:16] PradheepShrinivasan commented on #207
i am also facing the same error. Landscape.io seems to be stuck in checking out the git repo

[2016-01-01 19:42] jeda commented on #207
@carlio Can you get on this?

[2016-01-04 10:00] frol commented on #207
It seems that something went seriously wrong on the Landscape.io backend. I have recently signed up on Landscape and my Github repos sync never finishes.

[2016-01-04 13:25] rafaelcb21 opened #208 "The syncing not work"
When I click the button to add repositories in the Landscape is trying to sync, but it never ends.
It appears on the screen and does not end the process:

[code]

[2016-01-04 14:49] romansalin commented on #208
I have the same problem. Fetching my repository continued for the second day.

[2016-01-04 16:20] doismellburning commented on #207
@JeDa @PradheepShrinivasan @frol Hi all - I'm a friend of @carlio's. Unfortunately right now he's in hospital recovering from an accident.

It looks like the Landscape service is having a few problems right now. We're all hoping Carl will be up and about soon, at which point he'll be able to do something about it!

Until then, if you could please have patience while he recuperates! Thanks

[2016-01-04 16:20] doismellburning commented on #208
@rafaelcb21 @romansalin Hi all - I'm a friend of @carlio's. Unfortunately he's currently in hospital recovering from an accident.

It looks like the Landscape service is having a few problems right now. We're all hoping Carl will be up and about soon, at which point he'll be able to do something about it!

Until then, if you could please have patience while he recuperates! Thanks

[2016-01-04 16:23] frol commented on #207
@doismellburning Thank you for the notice. I wish @carlio well!

[2016-01-07 04:30] jakirkham commented on #208
That's horrible. I hope he is doing ok.

[2016-01-08 18:56] mfcovington opened #209 "Server Error 500"
I'm getting a Server Error 500 at https://landscape.io/github/mfcovington/pubmed-lookup/master

[2016-01-09 03:56] LisandroGuerra commented on #208
Same problem here.

[2016-01-09 06:21] carlio opened #210 "Landscape Developer inured and unavailable"
Hi all, I'm @carlio, creator of @landscapeio and things like @prospector. This is a very dear project of mine and I love that so may people use it and have set up their open source projects to be checked automatically every day for new issues.

Unfortunately, I was recently in a severe motorcycle crash. In the mean time Landscape has fallen a little into disuse and needs a bit of tender loving car

[2016-01-09 06:24] carlio commented on #208
@rafaelcb21 @romansalin @doismellburning  @jakirkham @LisandroGuerra Hi all, the basic reason for all this can be found [here](https://github.com/landscapeio/landscape-issues/issues/210). I, the Landscape developer, am currently really quite broken by a road accident. This will all eventually be working again, it's just going to take some time. Please keen an eye out, I'll get back to you when I c

[2016-01-09 06:32] carlio commented on #209
@mfcovington Hi there, this is on my todo list to fix ASAP. It seemed to get wedged into a funny state recently where it refuses to write to the DB. Unfortunately, I wedged myself into a funny state on a motorbyce recently and that injury and recovery is why it may take some time to get this back up and running. You can read more [here](https://github.com/landscapeio/landscape-issues/issues/210)

[2016-01-10 06:13] macskay commented on #210
Hey man! Sorry to hear what happened! Looking forward to the fixes, whenever you've got some free time and feeling better. Until then: Get well soon!

[2016-01-10 07:13] mfcovington commented on #209
@carlio Ouch! I'm sorry to hear about your accident. Hope you have a full recovery.

[2016-01-11 09:33] tofu-rocketry commented on #210
Hope you feel better soon. :+1:

The problems with Landscape have encouraged me to try some other hosted code review sites, but I still prefer Landscape's way of doing things. :ok_hand:

[2016-01-11 20:40] nicodv commented on #210
100% physical health is far more important than 100% code base health.  Take your time, and good luck with your recovery!

[2016-01-11 21:31] deejay1 commented on #210
Get well soon! We can wait, at least landscape won't be making silly comments about our codebase (they have to be silly, because our code is perfect - just like everyone else's!)

[2016-01-12 06:10] Insoleet commented on #32
Great to here that ! :+1:

You can check sakia wallet - https://landscape.io/github/ucoin-io/sakia , we are working with latest python 3.5 features (async and await keywords notably)

[2016-01-14 01:28] carlio commented on #32
@Insoleet This is all working "first class" now, kind of. You can set what Python version your rrojects use  either in the configuration file or by specifying trove classifiers in your `setup.py`. Read more in the full documentation here](https://docs.landscape.io/configuration.html#python-targets-2-3)

The default is still Python2 for now although I have several ideas on how to improve autodetect

[2016-01-14 01:28] #32 closed, assigned to nobody

[2016-01-14 07:06] Insoleet opened #211 "Landscape and python 3.5 (await / async keywords)"
Hello,

I'm trying to use the latest landscape python3 feature. But it does not look like to work correctly.

https://landscape.io/github/ucoin-io/sakia/464/modules/src/sakia/core/registry/identity.py#L93

As you can see, there is a syntax error present because of the `async` keyword. This keyword is only present since python 3.5. Maybe you need to run pylint with python 3.5 ?

[2016-01-16 13:07] dArignac commented on #210
Thanks for getting in touch about the circumstances. Get well soon!

[2016-01-25 16:06] cbetti commented on #144
Confirmed pylint 1.4.4 still produces this error when parameters would be provided by click. Seems to me that pylint is doing its job correctly, but that the "if **name** == '**main**'" syntax is just a bad pattern for invoking a program.

[2016-01-27 15:03] haraball commented on #210
@carlio
![image](https://cloud.githubusercontent.com/assets/25930/12617317/6e0e41e0-c50f-11e5-8466-ececcb92d20c.png)

[2016-01-27 23:35] shidarin commented on #210
Get well soon!

[2016-01-29 22:22] jantman commented on #149
@carlio I'm seeing them again today...

[2016-02-01 21:57] thozza commented on #173
@carlio do you have any update on this?

[2016-02-05 19:12] pennyarcade opened #212 "Prospector failing on my repo Py_pov"
First of all best wishes for you! I am glad you are back. Get well soon!
It is very nice to see landscape.io up & running again.

Now for the crunchy stuff :-)

[code]

To give you a hint: Prospector runs fine locally on this project using the following  .prospector.yaml:

[code]

[2016-02-05 19:29] pennyarcade commented on #212
My local prospector results:

[code]

[2016-02-08 11:27] pennyarcade commented on #212
This may be due to dodgy failing with an exception.
See my comment here: https://github.com/joshkel/dodgy/commit/f8f9436a67f80d0ad1ba2530dc219ebf6aa4d6e1
I'll try turning off dodgy in my landscape config now.

[2016-02-08 11:37] pennyarcade commented on #212
Update: disabling dodgy fixes the problem. Please integrate above pull request into dodgy so I can use it again.

[2016-02-08 12:31] carlio commented on #212
@pennyarcade Hi there, thanks for the well wishes! I'm not quite back yet but getting there :)

You're right that dodgy is the problem here. For what it's worth, and hopefully you don't need to use it in the future, you can use the `--die-on-tool-error` flag to see the stacktrace of the tools if they break, helpful for debugging.

Confusingly, I thought I had already fixed that encoding issue in [

[2016-02-10 16:26] patrys opened #213 "Support isort"
It would be nice to get warnings for improperly sorted imports in Python code.

[2016-02-11 11:33] schumannd opened #214 "Landscape falsely notifies about circular imports"
Landscape lists non-existent circular imports in files that were not even touched. These get listed under both allegedly new problems and fixed problems.

So neither is this circular import correct, nor that it has been fixed or introduced.

Example: https://landscape.io/diff/279743

[2016-02-16 02:03] gazpachoking opened #215 "Delete old PR comments"
It would be nice if landscape-bot could delete all old status comments on a PR when adding a new one. Some of our PRs get pretty spammy with all the updates, but it is nice to always have the latest status as a comment, as it's more visible to new contributors than the build status.

[2016-02-16 10:46] carlio commented on #215
What do you think about adding an option in the preferences for this? A few people have asked in the past for keeping old comments as it gives a "history" of updated PRs, so it's probably something that should be left configurable.

[2016-02-16 10:47] carlio commented on #211
@Insoleet yes you're right, currently it's still using 3.4 .  Should be fairly straightforward to update that to 3.5 soon.

[2016-02-16 10:48] carlio commented on #209
Landscape is mostly working again now so I will close this! For the record, I'm doing much better now, thanks :)

[2016-02-16 16:39] amorison opened #216 "Repository status stuck at connecting hooks but checks performed anyway"
On this [repository](https://landscape.io/repository/231185/status), the status is shown as if the repository were still being imported.

However, checks [are performed anyway](https://landscape.io/github/mulvrova/StagPy/104), so it seems that the status page is wrong.

The problem appeared a few days ago when I stopped checking this repo and restarted checking it a few hours later.

Thanks.

[2016-02-16 18:35] gazpachoking commented on #215
An option sounds good, I was almost going to suggest it that way, but I couldn't think of an use for the old ones. If other people like that behavior, making it optional makes sense.

[2016-02-18 07:30] mfcovington commented on #209
@carlio Thanks! Very happy to hear that you are doing well!

[2016-02-18 20:55] jeffwidman commented on #210
This should probably be closed based on https://github.com/landscapeio/landscape-issues/issues/209#issuecomment-184622617

Glad to hear you're doing better!

[2016-02-18 21:14] acdha commented on #210
Glad to hear @carlio is feeling better – hard to imagine anyone being happier to close an issue!

[2016-02-20 09:33] syenchuk commented on #151
Same issue here:
https://landscape.io/github/alexpirine/shelf-cms/56/modules/shelf/admin/widget.py

[2016-02-22 10:23] renefritze opened #217 "Check completed, but PR Status does not show that"
We've seen this a couple of times over the last few days.
Example: [completed check](https://landscape.io/github/pymor/pymor/445) vs [associated PR](https://github.com/pymor/pymor/pull/223)

[2016-02-22 15:24] brifordwylie commented on #217
+1 we're seeing the same thing for the dpkt github project.

[2016-02-25 10:33] azman0101 opened #218 "No python module detected"
Hi,

Analysis failed probably because no python module are detected.

But there is python module in this repo:
https://github.com/juhanurmi/ahmia

[2016-02-29 16:47] amorison commented on #216
The problem has disappeared when we put the repo in an organization. Everything is OK now.

[2016-02-29 16:47] #216 closed, assigned to nobody

[2016-03-01 14:35] vasily-v-ryabov opened #219 ""Prospector execution failed" for pywinauto for a long time"
Analysis fails for [pywinauto](https://github.com/pywinauto/pywinauto) (branch "UIA").
Landscape shows the following error ([check 90](https://landscape.io/github/pywinauto/pywinauto/90)):

[code]

The latest successful check is 76. Adding forked repo for analysis also fails (prospector seems hang up).

I haven't filed an issue for all this time because Landscape says `we have been notified`, but

[2016-03-01 14:46] vasily-v-ryabov commented on #198
Are there some news?

[2016-03-03 08:59] carlio commented on #219
Hi @vasily-v-ryabov , I was looking into this. Seems like one of the worker servers decided to claim all of the jobs, then get completely locked up. I've removed that worker for now so future checks will hopefully get back to normal. Apologies for not reacting that fast, still as a result of #210 but I am getting there!

[2016-03-03 09:03] carlio commented on #210
Thanks all, and @acdha you're right, looking forward to closing this when I can. Hopefully not as "won't fix" :)

[2016-03-03 09:55] vasily-v-ryabov commented on #219
Now it works. Thanks a lot!

[2016-03-03 09:55] #219 closed, assigned to nobody

[2016-03-09 22:13] tomkinsc opened #220 "uncertain failures (due to pylint?)"
I'm experiencing unclear failures on a particular [repo](https://github.com/broadinstitute/viral-ngs), and am having trouble tracing the cause:
https://landscape.io/github/broadinstitute/viral-ngs

I've installed `prospector` on my local machine via `pip`, and it seems to pass without any failures when I run `prospector --die-on-tool-error ./`(under Python 2.7 or 3.5)

Here is my `.landscape.yml`:

[2016-03-16 19:22] mistercrunch commented on #159
+1

[2016-03-20 16:07] mistercrunch commented on #95
<img width="818" alt="screen shot 2016-03-20 at 9 04 46 am" src="https://cloud.githubusercontent.com/assets/487433/13905368/f662afce-ee7a-11e5-8d07-4719ab45a87e.png">
I'm also left in the dark with a failure, with little indications or hints. I'm not sure how to reproduce locally with prospector but that's what I'm attempting next...

[2016-03-23 04:55] jamlamberti opened #221 "Pylint no-member"
For certain modules (e.g. numpy), pylint has a hard time figuring out what the member functions are.

Example:
![landscape](https://cloud.githubusercontent.com/assets/4995447/13975885/90bc203e-f090-11e5-9e33-c1ac4eea86d5.png)

A fix for this was made in astroid and pylint, which made a significant improvement at detecting member functions (see [https://bitbucket.org/logilab/pylint/issues/58](https

[2016-03-23 05:23] jamlamberti commented on #221
The best fix I have so far is instead of ignoring all of numpy (or disabling the no-member issue), you can list some of the generated members in the pylint.rc file.

For example:

[code]

[2016-03-30 07:18] #209 closed, assigned to nobody

[2016-04-03 21:52] astrofrog commented on #85
Since this is probably no longer relevant, I'll close this now

[2016-04-03 21:52] #85 closed, assigned to nobody

[2016-04-05 23:56] Paebbels opened #222 "The timeline of Landscape.io gets currupted if GitHub is overloaded"
I noticed that GitHub was overloaded:
- files were pushed but not visible on github.com
- Landscape.io didn't got a push notification, but manual checking, checked the latest files from github

Some time later, I got an email from Landscape.io, that a check was finished (an older one).

As you can see in the screenshot, the checks are not in time order and do not correspondent to the commit order.

[2016-04-10 06:50] mistercrunch opened #223 "PRs and new commits are not getting detected since yesterday"
On this repo: https://landscape.io/github/airbnb/caravel a sample PR:
https://github.com/airbnb/caravel/pull/313

I didn't change the settings in the repo and haven't touched `.landscape.yml` or anything of that nature, so I'm not sure what's going on.

Please help as this service is super useful and only after a month of using the service I can't live without it! I wanted to convince my employer

[2016-04-10 14:48] killswitch-GUI opened #224 "Major issue with Repo and Settings."
Currently, I'm having issues with my account and adding a repo. I have tried to add my repo a few times and every time it just hangs for a day on the "Checking out" phase. I'm also greeted by a "server (500)" when attempting to access my Settings within Landscape IO. I also tried to reset my oAuth settings within GitHub with no success. Am I missing something?
<img width="471" alt="screen shot 201

[2016-04-10 17:35] carlio commented on #224
@killswitch-GUI Thanks for the report - turns out the rabbitmq server died so all jobs/workers were stuck for a while. That's fixed now but it will take a while to catch up with the queue. I'll restart the repository checking too once the queue dies down a bit. Sorry!

[2016-04-10 17:40] carlio commented on #223
@mistercrunch Turns out the rabbitmq server died so all the workers just stopped for a while. I finally figured that out and restarted it, and things are working now, but it will take a while to catch up! I'll keep an eye on it tonight and hopefully things will have caught up soon.

[2016-04-10 18:18] killswitch-GUI commented on #224
@carlio thanks so much man. I LOVE this platform, thanks for all your hard work!

[2016-04-10 23:39] mistercrunch commented on #223
Looks like it may be down again. Are you guys using celery? We've found that using redis in place of rabbitmq to power celery made things much easier for us at Airbnb for this project:
https://github.com/airbnb/airflow

[2016-04-12 15:14] mistercrunch commented on #223
@carlio all my PRs look yellow-brown since the landscape jobs don't get picked up... Where are you guys communicating about the on going issues? Do I need to do something on my side?

I'm very grateful for this service and already can't live without it!!!

[2016-04-12 15:33] carlio commented on #223
@mistercrunch Thanks! Regarding your first question, I did try using redis once but it seemed to cause me some other issues. Will look into it but I've been really happy with rabbitmq. Unfortunately, in this case the disks on that machine failed and it didn't come back after a reboot. Exact same thing happened to the web server too! Talk about some bad luck.

For communication there is a twitter a

[2016-05-05 09:00] vasily-v-ryabov opened #225 "Landscape runners seem hang again"
For example, this PR is checking too long: https://github.com/pywinauto/pywinauto/pull/189
The same is here: https://github.com/python-xlib/python-xlib/pull/19

[2016-05-05 09:01] vasily-v-ryabov commented on #225
Sorry, it looks like a duplicate of #223.

[2016-05-05 09:01] #225 closed, assigned to nobody

[2016-05-06 16:23] zebpalmer commented on #159
fwiw, I found this issue thread searching for the same problem that I'm seeing in Wing (not using landscape on this). It appears this bug is in pylint itself.

see http://stackoverflow.com/questions/30656388/pylint-reporting-cyclic-import-on-file-without-imports for possible explanation.

[2016-05-06 17:28] vasily-v-ryabov commented on #223
PRs and even all other commits are not checked for me since May, 5.
For pywinauto/pywinauto repo: https://landscape.io/github/pywinauto/pywinauto
For python-xlib: https://landscape.io/github/python-xlib/python-xlib

It happened at the moment when I really need these checks.

[2016-05-06 20:36] karyon commented on #214
to be more precise, the circular imports do exist, but they are in the wrong place, but this is an issue of pylint itself, see https://github.com/PyCQA/pylint/issues/59.

an actual issue of landscape is that it reports these imports as "fixed" and "new" at the same time in every single report on every single pull request. see the example linked by @schumannd. this made me disable the warning compl

[2016-05-08 06:10] ashwin31 opened #226 "repository missing"
Hi,

I tried to add my public repository to landscape but its not showing in the list. I did re-sync few times but no use.

https://github.com/MicroPyramid/IAM-Manager

help me to add it to landscape

[2016-05-09 20:47] Paebbels opened #227 "Control flow analysis doesn't handle else clause after for loop in a correct way."
I have a `for`-loop with additional `else` clause like this:

[code]

Landscape.io reports a smell in [my file](https://landscape.io/github/VLSI-EDA/PoC/74/modules/py/Simulator/ActiveHDLSimulator.py#L84):

Every possible control flow will create a local variable named `name`. I'm using the PyCharm editor, which correctly reports no errors on these lines. if I remove the `else` clause, it reports a

[2016-05-15 20:42] wolfy1339 commented on #226
Having the same problem

[2016-05-18 09:53] zopyx opened #228 "Improper "Use of super on an old style class" errors for Python code"
See

https://landscape.io/github/xml-director/xmldirector.plonecore/130/messages/error

The reported errors for

"Use of super on an old style class"

are _wrong_.

The related classes in the end inherit from 'object' and therefore are new-style classes.

[2016-05-20 15:06] renefritze commented on #217
Seems to have fixed itself

[2016-05-20 15:06] #217 closed, assigned to nobody

[2016-05-29 16:18] tomschr opened #229 "404 on configuration doc page"
Under the "Configuration" link (sidebar on the left) you can find this text:

The "Landscape Configuration Documentation" points to http://docs.landscape.io/configuration.html, however this page doesn't exist.

[2016-05-29 18:23] carlio commented on #229
Fixed now, https://docs.landscape.io/configuration.html ! Thanks for the report. I found an errant quote in the nginx config file...

[2016-05-29 18:23] #229 closed, assigned to nobody

[2016-06-02 13:09] gst commented on #157
+1

[2016-06-02 13:12] foutoucour opened #230 "Reporter settings seem to be updated automatically"
Hey Team,

I was wondering what is the process behind designation of the reporter.

We are facing cases where the reporter seems to be updated to match the last person that join our organisation of landscape.

Can it be?

Best,
Jordi

[2016-06-02 13:31] JeanChristopheMorinRodeoFX commented on #157
+1

[2016-06-07 21:40] bagrat commented on #211
Hi @carlio, is this work in progress or any updates?

[2016-06-07 22:11] bagrat commented on #211
Here is my problem. More than a week ago I did not have problems with the `async` stuff:

https://landscape.io/github/n9code/calm/34/modules/calm/core.py#L274

Today, it started to show up:

https://landscape.io/github/n9code/calm/36/modules/calm/handler.py#L94

The only difference is that I moved that piece of code to another file.

[2016-06-07 22:35] bagrat commented on #211
Moreover, when reverting the code, the `async` passes again.

[2016-06-13 16:30] mistercrunch opened #231 "Service doesn't work most of the time. What's going on?"
The service is not picking up tasks. Our PRs depend on it.
https://github.com/airbnb/caravel/pulls

[2016-06-15 15:02] petricm opened #232 "Pull request scan stopped working"
We (https://github.com/DIRACGrid/DIRAC) have for some time successfully used the pull request scan option of landscape e.g.:

https://github.com/DIRACGrid/DIRAC/pull/2939
https://github.com/DIRACGrid/DIRAC/pull/2941

however since 25th May the feature does not anymore work for us. It works only if the scan is triggered by hand.

https://landscape.io/github/DIRACGrid/DIRAC

How can we reactivate th

[2016-06-15 17:09] carlio commented on #232
Hi @petricm . I checked into this and it seems like the push hook wasn't installed on the repository. Not sure why yet, I didn't get any errors through. Usually if that happens, Landscape falls back on polling the API but that hasn't been happening for a few hours due to some workers failing. I've restarted them, so you may see it start up again, and I'll figure out why the push hook wasn't workin

[2016-06-15 22:05] petricm commented on #232
Dear @carlio thank you for looking into this matter. However I have made a new PR after you restarted but I don't see any landscape response https://github.com/DIRACGrid/DIRAC/pull/2989

[2016-06-16 07:45] carlio commented on #232
@petricm I finally started to figure this out. It turns out that organisations have "admin", "write" and "read" access that now seems to limit which users can grant third-party apps the ability to create hooks. I will look into making it so that Landscape picks someone from the organisation who has the required access. I think this is relatively new, I've never noticed this before.

In the mean ti

[2016-06-16 09:10] carlio commented on #232
@petricm never mind - fixed the hook creation now so it shoud Just Work™ for you now!

[2016-06-16 11:01] petricm commented on #232
Dear @carlio thank you again for your help. After another push to https://github.com/DIRACGrid/DIRAC/pull/2989 landscape did indeed pick up the push. However it seems at the moment that it is stuck, 2h have passed and no report. Also the details link in the PR does not point to the specific analysis.  There was also another PR to our repo (https://github.com/DIRACGrid/DIRAC/pull/2990), after you f

[2016-06-16 11:02] carlio commented on #232
@petricm thanks for the testing. I think this is a different issue now, which is also happening here: https://github.com/landscapeio/landscape-issues/issues/231
- looking into it!

[2016-06-17 10:26] carlio commented on #231
@mistercrunch Finally managed to track down what was happening here, sorry it took so long. It turns out the tasks were running just fine, but it was not able to update the PR status due to using the token of a user who does not appear to have write access to the repositories, only pull access. Not sure why this changed only recently but it's fixed on Landscape now to make sure it only picks users

[2016-06-17 10:26] #231 closed, assigned to nobody

[2016-06-17 10:27] carlio commented on #232
@petricm turns out this was a similar problem actually (see also this comment https://github.com/landscapeio/landscape-issues/issues/231#issuecomment-226735606) - both hook creation and PR status updates seem to have changed required permissions recently and I didn't know this yet. Should be fixed now, please let me know if you notice further issues but I think it's working.

[2016-06-17 10:27] #232 closed, assigned to nobody

[2016-06-17 11:06] petricm commented on #232
Dear @carlio thank you for fixing it. I just have one more question. Why are there no notifications to the conversation of the PR from landscape like before (https://github.com/DIRACGrid/DIRAC/pull/2993). We used to receive a report from landscape similar the one from coveralls indicating this PR fixed X errors and introduced Y new erros ... Thank you again.

[2016-06-17 11:35] carlio commented on #232
@petricm fixed that too now! The bot was running behind since all the PRs only just got updated.

[2016-06-17 13:19] petricm commented on #232
Dear @carlio somehow we got a report into this PR https://github.com/DIRACGrid/DIRAC/pull/2990, but the test one I opened did not receive any report https://github.com/DIRACGrid/DIRAC/pull/2995

[2016-06-18 03:01] carlio commented on #223
Things seem to be up and running again, sorry about this, it has taken a while to get the workers behaving properly. Let me know if you spot any further issues.

[2016-06-18 03:01] #223 closed, assigned to nobody

[2016-06-18 03:03] carlio commented on #186
Individual repositories now have a red cross on their page as well as the dashboard option being more obvious. I'll look into adding it to the 'add repository' page too as I plan to go through the UI and make a bunch of small improvements.

[2016-06-18 03:03] #186 closed, assigned to nobody

[2016-06-18 06:23] carlio commented on #211
@n9code Good news! I managed to get the containers running Python 3.5.1 so the async syntax errors have gone. Bad news: I also upgraded the pylint version so you have some new bonus errors in https://landscape.io/github/n9code/calm/36/modules/calm/handler.py#L94 ... but at least aysnc is fixed :)

[2016-06-18 06:23] #211 closed, assigned to nobody

[2016-06-18 06:28] carlio commented on #220
@tomkinsc Sorry for taking ages to get to this, been fighting with various infrastructure issues first. I upgraded the pylint version to 1.5.6 and the workers which run the checks, and just re-ran this - seems to be working now!

[2016-06-18 06:28] #220 closed, assigned to nobody

[2016-06-18 06:29] carlio commented on #200
Will get around to this eventually if anyone actually wants it!

[2016-06-18 06:29] #200 closed, assigned to nobody

[2016-06-18 06:31] carlio commented on #180
I'm doing some spring-cleaning of really old issues, and pylint has moved on to version 1.5.6 so perhaps this is now fixed, not sure.

[2016-06-18 06:31] #180 closed, assigned to nobody

[2016-06-18 06:31] #169 closed, assigned to nobody

[2016-06-18 06:32] carlio commented on #155
I'll close this as a sub-issue of https://github.com/landscapeio/pylint-django/issues/56

[2016-06-18 06:32] #155 closed, assigned to nobody

[2016-06-18 06:35] carlio commented on #222
I've completely upgraded the hardware and worker logic in the last month so I'm fairly certain this was actually Landscape just not queueing jobs properly. Let me know if it happens again, but given the hardware woes in March/April I'm fairly certain it's now fixed.

[2016-06-18 06:35] #222 closed, assigned to nobody

[2016-06-18 06:37] carlio commented on #142
I'm going to close this as it's now a year old and no new complaints, and since then I've changed email providers and rewritten the email worker code, so I think (hope!) it's fixed :pray:

[2016-06-18 06:37] #142 closed, assigned to nobody

[2016-06-18 06:40] carlio commented on #210
Well I am extremely glad to report I can now close this issue :)  No more CT-scans for me!  Next steps: figure out how to work on Landscape full time!

[2016-06-18 06:40] #210 closed, assigned to nobody

[2016-06-18 06:42] carlio commented on #105
Python3 is implemented now (if detected/configured, see https://blog.landscape.io/python-3-support.html) and is as of today running 3.5.1 so I think this should be working - let me know if not!

[2016-06-18 06:42] #105 closed, assigned to nobody

[2016-06-18 06:47] carlio commented on #159
This has been a bugbear for a while so I'll close this as duplicate of https://github.com/landscapeio/landscape-issues/issues/214 to keep it all in one place.

[2016-06-18 06:47] #159 closed, assigned to nobody

[2016-06-18 06:53] carlio commented on #208
This is quite an old issue now and I've completely revamped the infrastructure since it was reported so I think it should be fixed. However if you are still seeing problems please re-open this issue!

[2016-06-18 06:53] #208 closed, assigned to nobody

[2016-06-18 06:56] carlio commented on #119
This was a mis-labelling on the config page, it should have said "not specified" instead of "nothing"...

[2016-06-18 06:56] #119 closed, assigned to nobody

[2016-06-18 09:14] vasily-v-ryabov commented on #223
This is working for now. Thanks a lot!

[2016-06-18 19:25] wldhx opened #233 "Landscape fails while Prospector runs fine"
The repository in question: https://github.com/graddfril/desktop.grabber-aggregator-refimpl

[Landscape](https://landscape.io/github/graddfril/desktop.grabber-aggregator-refimpl) dies with `Failure reason: Prospector execution failed` while local execution without any additional options (automatically picking up `.landscape.yml`) works fine.

What could I be doing wrong?

[2016-06-18 19:40] bagrat commented on #211
@carlio the more errors landscape catches, the better :) thanks a lot!

[2016-06-19 11:04] carlio commented on #233
@wldhx I figured this out eventually - there are a combination of several bugs here!

First, you have a syntax error here: https://github.com/graddfril/desktop.grabber-aggregator-refimpl/blob/master/graddfril/desktop/grabber_aggregator_refimpl/main.py#L8   . You have turned on vulture which normally doesn't run, and vulture crashes on that. That shouldn't happen and Landscape should at least manag

[2016-06-20 08:11] petricm commented on #232
Also any subsequent PRs https://github.com/DIRACGrid/DIRAC/pull/2997 don't get a report.

[2016-06-21 08:46] wldhx commented on #233
Hhm, I don't see one. Tried with REPL, it seems to be okay with it too (perhaps you've been meaning an older version (you link points to master, not the commit)?):

[code]

No, I've installed `prospector[with_vulture,with_pyroma]`. I _have_ forgotten the extras at one point, but no output at all was illegitimate enough for me to fiddle around and get was wrong :) And now I've even fixed [the requi

[2016-06-21 19:05] hhslepicka opened #234 "Prospector execution failed"
Hi,
I have been facing this error after adding a couple of lines to my ignore-paths.
I would like to know if there is a way to check if something is wrong in my code that is generating this error.

Here is the url for the code: https://github.com/hhslepicka/conftrak

[code]

Thanks!

[2016-06-22 00:24] carlio commented on #234
@hhslepicka I was looking into this earlier, turns out there's a bug in prospector. You specify 'targets' in .landscape.yml with 2.7 but it only accepts 2 or 3 (the actual version is not important it's just a generic 2 vs 3 question) and it turns out that breaks things. I added a fix to prospector here: https://github.com/landscapeio/prospector/commit/d7bb629ab35797b850db6f49f3844a930377d422  and

[2016-06-22 00:24] #234 closed, assigned to nobody

[2016-06-22 01:11] carlio commented on #233
@wldhx Sorry I didn't explain properly - I meant that prospector/astroid throws a Syntax Error on that line. I think astroid doesn't handle type annotations properly yet, will look into it further!

[2016-06-22 01:27] hhslepicka commented on #234
Thanks @carlio ! This completely solved the issue! Congratulations on the amazing tool that you developed! 💯  👍

[2016-06-22 09:35] petricm commented on #232
Hi @carlio , please re-open this issue, the scan reports still don't get delivered into the PR conversation.

[2016-06-29 13:25] vasily-v-ryabov opened #235 ""Prospector execution failed" issue has appeared again, checks are not running"
https://landscape.io/github/python-xlib/python-xlib

[2016-06-29 14:25] ahnitz opened #236 "change in health for PR ignores updates to master"
It seems from experimentation that the change in health given in a PR (which may fail the PR if enabled) is based on taking a diff of the originating branch against master. This isn't what I think people might expect to happen, however, as the merge command itself and other tools such as travis-ci, apply the patches to the top of master first.

This behavior is problematic for repositories that ar

[2016-06-29 14:51] benoit-pierre commented on #235
This might be related to encoding issues with `Xlib/protocol/display.py`, as prospector fails locally too with `prospector --die-on-tool-error Xlib/protocol/display.py`,  see https://github.com/landscapeio/prospector/pull/174

[2016-06-29 15:39] vasily-v-ryabov commented on #235
Probably workers should be restarted after merging https://github.com/python-xlib/python-xlib/pull/40 to check if this is the case.

[2016-06-29 16:31] vasily-v-ryabov commented on #235
Seems working on recent commits. Thanks a lot, @benoit-pierre!

[2016-06-29 16:31] #235 closed, assigned to nobody

[2016-06-29 16:42] carlio commented on #235
@vasily-v-ryabov @benoit-pierre Ah brilliant thanks!  I will go and merge that PR now, that does seem to be an oversight (and proof I need to write some more tests...), cheers :cake:

[2016-07-02 08:05] mbdevpl opened #237 "configuration documentation contradicts itself"
After looking closely at https://docs.landscape.io/configuration.html

Example file contains these lines:

[code]

While later documentation contains these:

[code]

I understand that the config parser probably accounts for more than `true` and `false` so some unexpected values like `1`, `0`, `yes` and `no` are probably handled, but in my humble opinion the example in documentation should follow t

[2016-07-02 08:12] carlio commented on #237
Ah true, thank you!  The basic thought is that the config file is just YAML so any YAML boolean value is valid (yes, no, true, false) so do you think it's better to be strict or to just explain that better?

[2016-07-02 08:34] mbdevpl commented on #237
I find documentation easier to follow if it is consistent. So if it's `true`/`false` here it shouldn't be `Y`/`N` somewhere else. Even if there are actually more allowed values, I'd skip them and just mention that they exist in general to avoid confusion for new users (like me):

On the other hand the configuration parsing engine should account for some variation, like it most certainly does (disc

[2016-07-02 08:44] mbdevpl commented on #237
BTW, Travis's docs at https://docs.travis-ci.com/user/customizing-the-build/ also have some of these issues :) I wonder why I didn't notice that earlier... Maybe because the commands like `build` or `install` seem more familiar to me than options used by Landscape, so it's easier to follow even without perfect clarity.

Anyways, it's not that big of a deal, just would be nice if those nuances coul

[2016-07-02 08:45] carlio commented on #237
@mbdevpl Yep they are: )  here: https://github.com/landscapeio/landscape-docs

[2016-07-02 08:47] mbdevpl commented on #237
Ah, sorry, I didn't search well enough. Then, I'll clone those...

[2016-07-02 09:15] mbdevpl commented on #237
@carlio I've submitted my changes, please let me know whether you think they are really an improvement :)

[2016-07-02 11:58] mbdevpl commented on #237
@carlio Since https://github.com/landscapeio/landscape-docs/pull/5 was merged, I'm closing this. Thanks for very rapid response.

[2016-07-02 11:58] #237 closed, assigned to nobody

[2016-07-04 03:41] carlio commented on #226
@ashwin31 @wolfy1339 Are you still having this issue? It seems like the repo is in the DB now so either it just took a while to sync (been replacing hardware for workers recently) or if it's still a problem let me know!

[2016-07-04 03:41] #226 closed, assigned to nobody

[2016-07-04 03:42] carlio commented on #213
This was added to pylint a while ago so is included now - might need to fix the UI a bit to display it but the logic is there.

[2016-07-04 04:52] ashwin31 commented on #226
@carlio no, it seems resolved. Thank you.

[2016-07-04 18:51] wolfy1339 opened #238 "landscape returning false positives"
This block of code fails the test on both Python 2 and 3.
landscape returns: `Undefined variable 'raw_input'` on Python 3 and `Undefined variable 'input'` on Python 2 which is a false-positive.
I have tested this on both Python 2 and 3, and it gives me the right results

[code]

[2016-07-05 13:20] wolfy1339 commented on #238
Found this too:

### Steps to reproduce
1. Pass this code in Pylint on Landscape
   https://landscape.io/github/Brilliant-Minds/Python-Closer-Bot/35/modules/src/main.py

It is returning `E1121` (Too many positional arguments for method call) when it shouldn't on line 207, only when a function is a subclass of self and is imported from another module

### Expected behavior

Not to return `E1121` fo

[2016-07-07 10:01] Omkar20895 opened #239 "Failure reason: Prospector execution failed"
Hi, I have been trying to deploy landscape into my git repo[0] but I am getting the same error for every check.

![screen shot 2016-07-07 at 3 30 38 pm](https://cloud.githubusercontent.com/assets/11131863/16649710/d7fef2d0-4457-11e6-9287-15e687f6fec2.png)

Please look into this. Thanks.

[0] https://github.com/lewismc/podaacpy

[2016-07-09 05:30] Omkar20895 commented on #239
@carlio can you please look into this issue. Thanks. :)

[2016-07-25 22:58] Chlodochar opened #240 "Pull request checks are getting stuck"
We just set up Landscape for https://github.com/AHAAAAAAA/PokemonGo-Map.

However, the checks that are done on pull requests stay in 'pending' status. Manually triggering a check on the master branch works as expected. See for instance: https://github.com/AHAAAAAAA/PokemonGo-Map/pull/2094#partial-pull-merging

The details link also does not lead to a progress or check page, but to the overview of

[2016-07-25 23:41] carlio commented on #240
Seems like one of the checkers got stuck and just did nothing for a few hours, sorry about that. I brought up 2 new ones to get through the backlog.

[2016-07-26 07:48] carlio commented on #240
Think this is fixed now, the job queue is empty and all the PRs on  AHAAAAAAA/PokemonGo-Map seem to have caught up and new ones are working. Please re-open if you see any more strangeness!

[2016-07-26 07:48] #240 closed, assigned to nobody

[2016-07-26 08:10] Chlodochar commented on #240
@carlio Seems to be working great now! Thanks!

[2016-07-27 20:36] Chlodochar commented on #240
We're seeing again a lot of PRs that are stuck on landscape.io. It seems 50% of the PRs are getting stuck: https://github.com/AHAAAAAAA/PokemonGo-Map/pulls

Any idea what is going on?

(BTW: can't reopen)

[2016-07-31 22:01] flother commented on #239
I'm having the same problem — you can [see the Landscape error output here](https://landscape.io/github/flother/htmltab/4).

Landscape worked fine ([example](https://landscape.io/github/flother/htmltab/1)) until I added a `.landscape.yml` file to my repo, at which point Landscape checks always fail. I pushed after both flother/htmltab@7819144bd9fc21bbac1ef6a77f79f21d38e9e915 and flother/htmltab@cd

[2016-08-03 15:43] petricm opened #241 "Landscape-bot does not comment on PR"
After landscape passes the landscape-bot does not comment on PR, despite the settings are set to comment on PRs e.g. https://github.com/DIRACGrid/DIRAC/pull/3052

[2016-08-08 21:54] grzanka opened #242 "Landscape fails with "Failure reason: unknown""
Repository under consideration: https://landscape.io/github/DataMedSci/pymchelper/61

I've tried to repeat the jobs, but in all cases I've got following error:

[code]

[2016-08-09 00:53] mistercrunch commented on #231
@carlio I still have this issue where pretty often, as a result PR are stuck in a "brown" state. I'm really getting close to getting rid of the service altogether as it gets in the way.

Look at the PRs in a brown state here:
https://github.com/airbnb/caravel/pulls

[2016-08-09 01:00] carlio commented on #231
@mistercrunch I'll look into it now

[2016-08-09 04:27] carlio commented on #231
@mistercrunch Found the issue, turns out one of the checkers got stuck in a zombie state so half of the checks were just waiting. I've fixed this, and in a short time your checks and PRs should be back up to date. Sorry about that! I'll set up some better monitoring for checkers getting stuck like this.

[2016-08-09 05:10] carlio commented on #242
@grzanka Fixed now, and all the checks ran. Turns out one of the checkers got stuck in a zombie state so was just starting then doing nothing.

[2016-08-09 05:10] #242 closed, assigned to nobody

[2016-08-09 21:31] grzanka opened #243 "Landscape fails with "Prospector execution failed""
Repository under consideration: https://landscape.io/github/DataMedSci/pymchelper/72

I cannot even repeat the job.

Check number 72 has failed. This is almost always due to a bug in Landscape - we have been notified. Sorry about that.

Failure reason: Prospector execution failed

The checking tool, prospector, did not complete correctly

[2016-08-16 08:14] petricm commented on #241
Dear @carlio what is the status of this issue?

[2016-08-17 08:51] hawkowl opened #244 "Landscape can't read large repos"
I tried importing Twisted, and so far it's been on "Reading metadata" for like a week :) https://landscape.io/repository/381344/status

[2016-08-18 02:19] lewismc commented on #243
I have a very similar issue... different check number though.

![screen shot 2016-08-17 at 7 26 24 pm](https://cloud.githubusercontent.com/assets/1165719/17759795/7b76d2e4-64af-11e6-8377-9eb7340b6401.png)

[2016-08-18 02:20] carlio commented on #243
@lewismc Something just happened to all the checkers, investigating now!

[2016-08-18 02:41] carlio commented on #243
@lewismc Figured this out - turns out your .landscape.yml file has slightly invalid syntax which causes prospector to die (yes that is stupid it should be better at this!) This line needs to be `full: true` (note the extra space): https://github.com/lewismc/podaacpy/blob/master/.landscape.yml#L25

I'll work on making this more resiliant to parse failures, it really shouldn't just completely give u

[2016-08-18 02:41] #243 closed, assigned to nobody

[2016-08-18 02:48] lewismc commented on #243
Thanks very much. Great help. :+1:

[2016-08-18 02:50] lewismc commented on #239
This issue has been resolved at #243 thanks @carlio

[2016-08-18 10:27] flother commented on #239
The issue's not resolved for me, Landscape still fails in the way. I think my issue is a duplicate of #233: when you enable Vulture, Landscape fails, and it won't work again even if you disable Vulture.

[2016-08-18 10:30] flother commented on #233
I'm having a similar problem (see #239) and I think it has to do with enabling Vulture. Landscape worked on [my repo](https://landscape.io/github/flother/htmltab) until I added a `vulture` block to my `.landscape.yml` file, after which it fails every time even though I've since disabled Vulture. Prospector works locally.

[2016-08-21 00:13] nukeop opened #245 "Landscape.io repo scan stuck at "queued""
Hi

When I try to scan for my repositories, I get stuck on this page at "queued":
https://landscape.io/account/syncing

This is the message I get:

Switching browsers and fiddling with js and/or cookies etc doesn't change anything, so it's likely a server side bug.

[2016-08-21 11:43] jarifibrahim opened #246 "Build stuck"
Build stuck for the following PR
https://github.com/lewismc/podaacpy/pull/56

I had forced pushed to remove a commit.

[2016-08-22 01:07] nukeop commented on #245
It managed to finish the scan after a couple of hours (although the page says it should take a few seconds).

Now it's taking a really long time to scan a new commit. Probably the same issue as #246.

[2016-08-23 10:19] grzanka commented on #246
I experience the same issue here:
https://github.com/DataMedSci/beprof/pull/89

[2016-08-23 10:20] grzanka opened #247 "Github displays landscape test as in progress, while they are finished"
Some of the landscape tests were stucked for this PR:
https://github.com/DataMedSci/pymchelper/pull/74

I've manually restarded them in Landscape, but in github I still see them as being in progress

[2016-08-23 10:21] grzanka commented on #246
Also here:
https://github.com/DataMedSci/pymchelper/pull/75

[2016-08-23 17:29] brifordwylie opened #248 "Landscape jobs get 'stuck' and then PR merges are left 'waiting'"
So our project will do a build check and a landscape check before letting the PR merge. In the last week or so we're getting a lot of 'hung' jobs and so the check never comes back for the PR.

https://landscape.io/github/kbandla/dpkt

Can we delete/remove/restart those jobs is any way?

[2016-08-24 08:47] florian-wagner opened #249 "Landscape does not build anymore, although prospector runs fine locally"
Dear Prospector-Team,

great product! We experience build issues lately, either due to failing prospector runs or timeout (https://landscape.io/github/gimli-org/gimli/601), both of which do not happen locally running prospector with the same .landscape.yml profile.

Thank you for your help.

[2016-08-24 11:56] Paebbels opened #250 "New StackOverflow tag: landscape.io"
Hello Carl,

StackOverflow got an new `landscape.io` tag. Please review and extend my initial excerpt and wiki text.
=> http://stackoverflow.com/questions/tagged/landscape.io

Should there be a `prospector` tag, too? Otherwise, please suggest it as a possible synonym.
I have found only one question regarding prospector.

Kind regards
    Patrick Lehmann

[2016-08-24 12:31] bittner commented on #241
@carlio Any news on this? Just stumbled upon this issue in https://github.com/behave/behave-django/issues/19. (We still need to check whether we have all required settings set on Landscape though.)

It was still working on 27 Apr 2015 in https://github.com/pytest-dev/pytest-django/pull/232. I don't see it in more recent PRs of the same repo, though.

[2016-08-26 09:35] petricm commented on #241
@carlio @bittner , no we still don't get comments on PRs from the bot. e.g. https://github.com/DIRACGrid/DIRAC/pull/2995

[2016-08-26 09:36] carlio commented on #241
Working on it, haven't figured out the reason yet but getting there, apologies! @petricm @bittner

[2016-08-31 13:10] ashwin31 opened #251 "sync with gihub is still waiting even after 24 hours"
Synchronising with GitHub: Waiting...

my id is ashwin31

please fix it.

[2016-09-01 12:07] ashwin31 commented on #251
Hi @carlio can you please fix it.

[2016-09-07 12:26] mbdevpl commented on #239
I'm having the same issue with my repo https://landscape.io/github/mbdevpl/typed-astunparse - such things were happening before, as in issue #180, but I think no fix was actually performed. And I don't have any spaces at the ends of lines of my `.landscape.yaml` (which was the issue in #243).

Is there any way to see some logs of what is going on? The traceback? There is some extra space on that e

[2016-09-14 14:00] marshki opened #252 "Language Listed for Python Program is "Shell" Rather Than "Python""
When I initially synced my GitHub account with Landscape,  one of my programs--written in Python--had an incorrect # _shebang line_, i.e. `#!/bin/py` was written as: `#!/bin/bash`. Git Hub nonetheless recognized the program as written in Python, but Landscape sees is as a Shell script. This is the case even _after_ I amended the offending file, pushed the commit, and sync'd Landscape with GitHub m

[2016-09-18 20:11] wolfy1339 commented on #249
This seems to happen often to me too

[2016-09-20 10:08] GDYendell opened #253 "Landscape check ignoring/can't find some files"
Repo here: https://github.com/dls-controls/PMAC-Trajectory-Scans
Report is here: https://landscape.io/github/dls-controls/PMAC-Trajectory-Scans/90/modules

As far as I know it should check everything by default and you have to specifically ignore things in the config, but that doesn't seem to be the case here. I want it to check the motion_program_tests and test_harness folders, but it only checks

[2016-09-21 20:26] freetheinterns commented on #183
I am also seeing the issue mentioned above. I was able to add a repo, but Landscape.io gets stuck on the 'connecting hooks' step of the setup. https://landscape.io/repository/395697/status

[2016-09-27 15:15] fpietka commented on #248
landscape.io is a great tool, I hope this issue won't be too hard to solve.

[2016-09-28 04:16] carlio commented on #248
I've tried a few fixes and what it comes down to is that the workers have too much to do! It's up to 7220 being checked now and so things get delayed for quite a while. I'm rewriting a lot of the PR handling logic because I understand how frustrating this is.

[2016-10-03 06:02] carlio commented on #247
Hi @grzanka . I've just finished a complete rewrite of the PR handling code so hopefully this will not happen in the future. I will also get some kind of "go fix any open PRs that are still hanging" stuff done today. Apologies for this, the workload just got away from the servers and things backed up.

[2016-10-03 06:02] #247 closed, assigned to nobody

[2016-10-03 06:04] carlio commented on #248
Should be better now, just released a complete rewrite of the PR handling jobs. Please reopen if you see anything odd but this is now split up such that future jobs won't hang like this, and I'm going to figure out how to go back and fix any stuck past ones.

[2016-10-03 06:04] #248 closed, assigned to nobody

[2016-10-03 06:06] carlio commented on #249
This should hopefully be fixed now. The simple reason is that there are 7300 repositories being checked right now and the load balancing for the workers was not up to scratch. Hopefully this is fixed now, future jobs should run just fine and I'll set up tasks to re-start older hanging ones too. Please re-open if anythign strange happens, and apologies!

[2016-10-03 06:06] #249 closed, assigned to nobody

[2016-10-03 06:07] carlio commented on #236
This will be fixed with the new PR handling code - now, an update to the incoming branch _and also_ updates to the base branch will create a new comparison. It's new so please re-open this issue or let me know if strange things occur but I think this will work as expected now.

[2016-10-03 06:07] #236 closed, assigned to nobody

[2016-10-03 08:32] fpietka commented on #248
@carlio thanks a lot

[2016-10-04 10:38] carlio commented on #246
This should be fixed now - and it is going through and un-sticking all the PRs that did not get set, although if they're already merged or closed it won't do anything. Sorry about this, and if you see anything odd with new PRs please re-open this issue!

[2016-10-04 10:38] #246 closed, assigned to nobody

[2016-10-05 13:04] carlio commented on #193
Going to close this as "probably fixed" since it's now a year old, but please re-open if you see it again!

[2016-10-05 13:04] #193 closed, assigned to nobody

[2016-10-05 13:05] #224 closed, assigned to nobody

[2016-10-05 13:36] #22 closed, assigned to carlio

[2016-10-05 13:39] carlio commented on #250
Thanks @Paebbels ! Not sure what I can do about this as my stackoverflow score is woefully small but the summary looks good to me as is.  I guess if there are enough questions appearing about prospector, then a new tag makes sense but for now might as well just wait and see how much activity there is.

MfG!
Carl

[2016-10-05 13:39] #250 closed, assigned to nobody

[2016-10-14 07:22] holtgrewe opened #254 "How to suppress "too many ancestors" warning"
I tried deactivating this in the `.landscape.yml` in different ways. What's the correct one?

Here's the problem with repository.

https://landscape.io/github/bihealth/flowcelltool/23/messages/style

Thanks,

[2016-10-15 20:57] tedmiston opened #255 "Landscape.io throws 500 error viewing change list"
Attempting to view this repo's diff list now throws a 500 error.

https://landscape.io/github/tedmiston/challenges/22/diff

I have a hunch it may be due to specifying Python 3 in the `.landscape.yml` config, while some of the scripts in the repo were written in Python 2 and haven't been explicitly updated for Python 3 yet.  (This is something I'm fixing.)  Still, I wouldn't expect the server to th

[2016-10-16 02:05] carlio commented on #255
Seems like this is some GitHub API quirk due to having '?' as a folder name. I fixed it, I think!

[2016-10-16 02:05] #255 closed, assigned to nobody

[2016-10-16 02:07] tedmiston commented on #255
Works on my end too.  Thank you!

[2016-10-24 23:05] nukeop opened #256 "Checks failing for all changelists"
For some reason, after commit 55, all check started failing on my project for "unknown" reason.

Here's the link:
https://landscape.io/github/nukeop/RelayBot2.0

[2016-11-03 00:17] szepeviktor opened #257 "Check extensionless Python files"
Hello!

courier-pythonfilter has a file called `dropmsg`
https://github.com/szepeviktor/courier-pythonfilter/blob/master/dropmsg

Please consider including an option to check that also.
Thanks.

[2016-11-15 22:39] #44 closed, assigned to nobody

[2016-11-16 10:57] nicolaschotard opened #258 "Failure reason: Unknown"
Hello,

For some unknown reasons, all my Landscape runs fail with the following message, and I cannot figure out why:

Is there a way to check the output log of the run? This will definitely help in understanding why the runs fail, and see if the bug comes from the code, the configuration, or from landscape itself.

I've also run prospector 0.12.4 on my laptop for this project (for python 2.7) and

[2016-11-17 02:24] Paebbels opened #259 "Landscape.io cannot handle errors in yaml files."
Hello Carl,

I noticed this some time ago, but Landscape.io has problems with badly formatted yaml files. There should be a better message then just Landscape.io crashed. It should at least display the failing line or name the unexpected value.

For example if you set structness to high, it will fail to start. See my runs for [VLSI-EDA/PoC](https://landscape.io/github/VLSI-EDA/PoC/280). According

[2016-11-24 02:55] CJ-Wright opened #260 "Server Error 500"
I a Server Error 500 for this PR https://landscape.io/github/xpdAcq/redsky/pulls/1
Any thoughts on what might be going on?

[2016-11-24 03:21] carlio commented on #260
I had a look, this seems like a bit of a silly one really - it's because that repository has no python files in it. Obviously it shouldn't raise a 500 server error in that case, I'll look into making it handle the situation better.

[2016-11-25 02:44] CJ-Wright commented on #260
That would be fair but the PR has python code in it: https://github.com/CJ-Wright/redsky/blob/e535286b9cca952c4428ffd2aef5b64ef0d024b7/redsky/analysis_run_engine.py
I am assuming that landscape is looking at the PR code.

[2016-11-30 09:34] robin-miller-ow commented on #260
I am also having this issue on the following PR: https://landscape.io/github/owlabs/incubator-airflow/pulls/16

I was wondering if this might be a knock-on effect of checks being unable to run successfully on one of the branches since the latest commit: https://landscape.io/github/owlabs/incubator-airflow/180 (I have re-run the check several times with the same failure result.)

[2016-12-05 20:22] Paebbels opened #261 "Landscape falsely reports an access to protected members."
Landscape.io reports accesses to protected members, but these members are visible in the class, because the passed method parameter is an instance of the class itself, and thus all protected members are visible.

**The reported message is:**

Full Landscape.io report: [.../Aldec/ActiveHDL.py#L227](https://landscape.io/github/VLSI-EDA/PoC/336/modules/py/ToolChains/Aldec/ActiveHDL.py#L227)

**I have

[2016-12-05 20:46] Paebbels opened #262 "Landscape.io doesn't report the line number, where it suspects mixed indentation characters"
Landscape.io reports mixed indentations (tab + space or space + tab). It reports the file name, but not the line number(s). Here is an example report: https://landscape.io/github/VLSI-EDA/PoC/336/messages/29

The Landscape.io report should contain the line numbers, especially, if the file has no syntax errors, which cause an exception while execution.

[2016-12-05 20:57] Paebbels commented on #227
Here is a related issue at pylint: [undefined-loop-variable false positive related to for with "else" that raises an exception](https://github.com/PyCQA/pylint/issues/1175?ts=2)

[2016-12-07 08:40] bowenli86 commented on #260
Having this problem too.
https://landscape.io/github/apache/incubator-airflow/pulls/1926    shows server error 500.

This is silly.

[2016-12-07 08:42] bowenli86 opened #263 "Unknown landscape.io internal error "This is almost always due to a bug in Landscape - we have been notified. Sorry about that.""
https://landscape.io/github/phoenixjiangnan/incubator-airflow/1
says:
"
Check number 1 has failed. This is almost always due to a bug in Landscape - we have been notified. Sorry about that.
Failure reason: Unknown
We don't know exactly why this error happened yet
"

Can you please fix this?

[2016-12-11 00:41] woutervh commented on #258
i have the same problem since 3 weeks.
it should be more clear what is the problem.

I just started using landscape, and after a few commits after always fails
I should just wait for you to fix something?
3 weeks, 3months, 3 years?

i'm getting disappointed

[2016-12-11 01:12] carlio commented on #258
Hi @nicolaschotard - These are actually fixed now, I forgot to update this issue. The problem was one of the checkers ran out of disk space and didn't correctly get removed from the pool. I've since added better monitoring for this kind of issue in the future.

Hi @WouterVH - I looked into it and it turns out to be a bug in prospector at detecting filencoding from this file on one of the lines nea

[2016-12-11 01:42] tovmeod commented on #258
I just retried the check and still getting Failure reason: Unknown

https://landscape.io/github/tovmeod/anaf/68

[2016-12-11 20:51] mathuin opened #264 "Erroneous report of cyclic imports in empty file"
It is traditional to have an empty file named `__init__.py` in a directory which is to be treated as a module.

One of these files was described as having multiple cyclic imports.

![landscapeerroremptyfilecyclicimports](https://cloud.githubusercontent.com/assets/221823/21083213/7ea357de-bfa0-11e6-92de-1fbb7bc4bba5.png)

Thanks!

[2016-12-11 20:53] mathuin commented on #214
I just created #264 which may be related to this issue.  Any help on where to find these alleged cyclic imports would be appreciated. :-)

[2016-12-26 13:50] pmart123 opened #265 "Reoccurrence of function definition error when using functools.singledispatch"
I've noticed that landscape publishes pyflakes 811 and pylint E0102 when using the singledispatch decorator such as in https://github.com/portfoliome/foil/blob/master/foil/serializers.py

Is there any way to turn off these warnings under this specific condition? Thanks.

[2017-01-12 11:44] flennerhag opened #266 "Python optional arguments (**kwargs) raise error message"
Landscape treats optional Python arguments as errors, when they are in fact a design feature. Hence the following code

[code]

would cause  an error message with regards to the **kwargs, as in the below picture. Any way around the issue?

<img width="446" alt="screen shot 2017-01-12 at 12 30 28" src="https://cloud.githubusercontent.com/assets/19593480/21888075/f35da3dc-d8c2-11e6-8265-fbc29a811b23

[2017-01-19 10:15] alyssonrodriguesbarros opened #267 "GitHub Synchronization"
Hi, I am not able to synchronize with GitHub, it is in the message Setting up

[2017-01-21 16:20] jamadden opened #268 "gevent analysis has been failing for months"
Following the link from a PR (e.g., https://landscape.io/github/gevent/gevent/pulls/913) simply reports a 500 error.

Viewing a specific build (E.g, https://landscape.io/github/gevent/gevent/403) reports that prospector failed, but gives me no information about the failure.

I can't reproduce a prospector failure locally under python 2  or python 3 (prospector 0.12.4/pylint-1.6.4) if I run 'prospe

[2017-01-22 19:53] jfunez opened #269 "Server Error 500 when access pull request details page"
Link: https://landscape.io/github/scieloorg/opac_ssm/pulls/47
Shows: ``Server Error (500)`` page
I can see other pages like PR list page, and everything else.

[2017-01-25 10:19] nirizr opened #270 "Inconsistencies with wrongly detecting a "not a callback" error"
I have a callable object (I dubbed `logger`), and landscape occasionally detect calling it as a `not callback`, although it is. At other times `logger` is indeed identified as a callable, and instead a valid error (which I simply didn't address yet) is raised instead.

I expect intended behavior to be that the incorrect ("not callable") is never raised as it is incorrect.
Additionally, I assume in

[2017-01-25 14:54] fjammes opened #271 "Problem while setting up LSST Github repository"
Setup of repositories from http://github.com/lsst is very long, and may never end-up.

See:
https://landscape.io/repository/266880/status
https://landscape.io/repository/266882/status
https://landscape.io/repository/449164/status

[2017-01-26 13:06] bagrat opened #272 "Support for Python 3.6"
The new syntax introduced by Python 3.6 are identified as `invalid syntax`. E.g.

* variable annotations
* f-strings
* etc

Would be great to have support for Python 3.6.

[2017-01-28 20:36] mattclay opened #273 "404 error accessing results"
I'm seeing HTTP 404 errors trying to access results:

Starting here: https://landscape.io/github/ansible/ansible/3

Then click on Errors, Smells, Style or All Messages:

- https://landscape.io/github/ansible/ansible/3/messages/error
- https://landscape.io/github/ansible/ansible/3/messages/style
- https://landscape.io/github/ansible/ansible/3/messages/smell
- https://landscape.io/github/ansible/ans

[2017-01-28 21:08] mattclay opened #274 "Pull request report shows issues unrelated to PR"
Some pull request reports are showing issues unrelated to changes in a PR:

https://landscape.io/github/ansible/ansible/pulls/20509

It reports 196 new and 268 fixed issues across many files. However, looking at the PR:

https://github.com/ansible/ansible/pull/20509

It only changes 2 files.

Is the analysis being performed after merging the PR to the HEAD of the upstream branch, or is it comparin

[2017-01-29 03:09] carlio commented on #273
@mattclay I don't see those 404 errors myself now, do you still get them? I see the 404 in the nginx logs but no errors or reason for it, but I also just restarted the webapp for a redeploy and perhaps that fixed this somehow. I'll keep poking.

[2017-01-29 03:18] carlio commented on #274
This comparison was between 85d7839... on ansible/ansible and df3ae0787f... on the upstream - so basically the latest of both at the time the comparison ran. Therefore this is a bug in the comparison logic, it should not have throw those up, I'll try to figure out what went on.

[2017-01-29 04:48] mattclay commented on #273
@carlio I reloaded those pages, and all but messages came up fine (it gave me a 404). I then reloaded the pages again and got 404 errors for all but style and smell (even the main page gave me a 404 error).

It's acting like there's multiple load balanced servers, and one (but not all) of the servers are returning 404 errors. I reloaded the pages several more times, and continued to get mostly 404

[2017-01-29 05:08] carlio commented on #273
@mattclay Aha I figured it out - turns out the 404 is supposed to be a 502. As it turns out, the webserver was running low on memory. However the 502.html page was in the wrong place, which means the 404 you saw was actually "could not find the 502 html". That's why I was confused! I moved the webapp to a new server so this should go away now (once DNS propagates), and I'll look into why it was ru

[2017-01-29 07:10] carlio commented on #273
Should be fixed now the new webserver is up, you may still see it if you hit the old one while waiting for DNS to propagate but once that's finished (short TTL so hopefully not long) it'll be working again.

[2017-01-29 07:10] #273 closed, assigned to nobody

[2017-02-17 09:47] blatinier opened #275 "Signup error, deplicate parameter"
I signed up seconds earlier, and I encountered a problem during the process which prevented me from completing signup.
After authorizing landscapeio on github, I was redirected to a page where the URL contained the parameter "state" twice. An error is displayed specifying that there can only be one parameter of the same name.

Modifying the URL and refresh allowed me to complete signup.

[2017-02-17 10:02] carlio commented on #275
This is strange, somebody else emailed me earlier today and I found this problem but nothing has changed in the signup/login code for a long time. I'm looking into it, don't really know where to start yet, thanks for the report!

[2017-02-17 22:50] chiffa commented on #275
Same thing here

[2017-02-17 23:46] carlio commented on #275
Ok, figured this out, fixed now!

[2017-02-17 23:46] #275 closed, assigned to nobody

[2017-02-21 18:24] abbec commented on #272
Would really love to see this too

[2017-03-06 14:51] nirizr opened #276 "github status shows PR fails, although landscape.io shows a successful PR"
For the past few days, all PRs under my [github repo](http://github.com/nirizr/rematch) are failed by landscape. For example, the folloing [PR ](https://github.com/nirizr/rematch/pull/211) shows as landscape failed it. When clicking the [details link](https://landscape.io/github/nirizr/rematch/pulls/211) I get an 500 server error blank page.

When checking the PR from "Pull requests" link in lands

[2017-03-08 00:09] carlio commented on #276
Hi @nirizr I think I may have tracked down this issue. There were a couple of problems at the same time: firstly the pypi cache Landscape uses had run out of disk space and secondly there was a bug where if the fork branch name changed in the PR over time, new checks for every push would use the old branch name and fail due to not finding the branch.

I have fixed both of those problems and I thin

[2017-03-08 00:10] carlio commented on #276
(Also the checkers sometimes run out of disk space which also causes failed checks... I'm working on making this all more stable)

[2017-03-08 01:00] nirizr commented on #276
Thanks for the fast respone!

I've experienced sporadic 500s in the past, but this time it was consistent.
I didn't fully understand the branch name change issue (I don't think I changed branch names for PRs, but idk, maybe).

Update:
I made another run for the same PR, and the issue remained. I still the server error from github detail status line and from the list of pull requests in landscape.

[2017-03-08 01:35] carlio commented on #276
Ok I have now tracked this down a bit more. It was a combination of 1) the check failing for the base revision into which the PR would be merged and 2) the PR status getting stuck in this situation and never updating the PR status correctly. Your PR [@nirizr/rematch #211](https://github.com/nirizr/rematch/pull/211) is [now working on Landscape](https://landscape.io/github/nirizr/rematch/pulls/211)

[2017-03-08 09:01] nirizr commented on #276
Yes, I can confirm issue is resolved.
I also triggered tests on another PR and landscape returned successful.

Thanks a lot!
Closing.

[2017-03-08 09:01] #276 closed, assigned to nobody

[2017-03-08 12:47] #266 closed, assigned to nobody

[2017-03-12 22:10] nirizr opened #277 "Configure pylint max-args in landscape"
According to [This](https://docs.pylint.org/en/1.6.0/features.html) it is possible to change the maximum number of allowed method arguments by specifying `max-args: 10` to pylint's configurarion.

How can I do that while using landscape?

Thanks!

[2017-03-13 17:19] nirizr commented on #277
I managed to find out, sorry for the spam!

[2017-03-13 17:19] #277 closed, assigned to nobody

[2017-03-15 11:36] nirizr opened #278 "PR marked as successful in landscape, reported as failed in github"
The following PR of mine was failed by landscape on github: https://github.com/nirizr/rematch/pull/220

However taking a look at landscape it's marked with a green check-mark in the Pull Requests view as well as the green thumb up and "+ 0.01% compared to master" in the specific pull request check view: https://landscape.io/github/nirizr/rematch/pulls/220

Another peculiar issue here: The same 10

[2017-03-19 05:59] grizz opened #279 "landscape not honoring .pylintrc"
May be a dupe of #48

In .pylintrc, I have:

[code]

Running pylint by hand doesn't give those results:

[code]

Yet I get smells from redefining those at: https://landscape.io/github/20c/pluginmgr/41/messages/smell

[2017-03-23 18:41] piem opened #280 "misleading email title"
hi,

i often get emails with a title like _No change: foo/bar scored 97%_, where instead some errors or warnings got added or fixed.

I guess the title gets decided according to the percentage rounded to the nearest integer, instead of depending of the actual number of 'new' and 'fixed'.

It'd be nice if the email title was actually reflecting those changes.

cheers, piem

[2017-03-26 03:15] Paebbels commented on #262
Any updates on that issue?

[2017-03-26 03:15] Paebbels commented on #261
Any updates on that issue?

[2017-03-26 12:16] nirizr opened #281 "Star imports trigger multiple `Redefining built-in` error when star-importing"
See following PR: https://landscape.io/github/nirizr/rematch/pulls/239 (https://github.com/nirizr/rematch/pull/239)

Which adds the following import line:
`from settings import *`

And triggers many peculiar errors about importing builtins from the `settings` module overrides builtins from the current module.

[2017-04-12 15:48] wmayner opened #282 "Delete account?"
There doesn't seem to be a way to delete my account on this service. How can I do that?

[2017-04-12 15:50] carlio commented on #282
You can just de-authorize it on GitHub here: https://github.com/settings/applications

There is a delete page but seems like the URL routing isn't hooked up, oops. Will sort that out.

[2017-04-13 08:54] nirizr commented on #278
Clicking Github's "Test Service" button on the Landscape service view in Github's configuration constantly displays the following error:

This still seems to be an issue in multiple repositories of mine.

[2017-04-17 15:18] #278 closed, assigned to nobody

[2017-04-17 15:24] nirizr opened #283 "landscape tests PR but does not report status back to github"
My three landscape.io repositories are successfully running in landscape.io (including status emails being sent to me) but status is never reported back to github, and I have to go to landscape to see if PR passed or failed.

This is although landscape it configured to report status and fail on any new error, and landscape-bot is supposed to comment on PRs (which it doesn't).

For example, followi

[2017-04-24 22:51] wolfy1339 commented on #254
If you hover over the line containing the issue, it will give you the ID use that id in `.landscape.yml` to disable it
[code]

[2017-06-21 08:38] FredStober commented on #269
I see the same issue with: https://landscape.io/github/grid-control/grid-control/pulls/38

[2017-06-27 01:36] timsavage commented on #270
I have a similar issue although in my case the callable is explicitly checked as a callable eg:

    if callable(my_var):
        value = my_var(value)

Causes the error "is not callable"...

[2017-06-27 01:38] nirizr commented on #270
FWIW, it turned out I was using the same name for a module.  Once I changed the name of my callable the inconsistency stopped. I know it shouldn't happen but the workaround was good enough for me, it might help you as well.

[2017-06-28 01:11] rlee287 opened #284 "Duplicate check for same commit"
Repo is https://landscape.io/github/rlee287/pyautoupdate

![dupe](https://user-images.githubusercontent.com/14067959/27616319-d13098d6-5b63-11e7-9d92-03f9d85a8dd2.PNG)

[2017-07-04 09:00] mcocdawc opened #285 "Ignoring Errors of a Certain Type in a file"
Hello,

According to your [docs](https://docs.landscape.io/suppressing.html), i can:
* Ignore an error type for the whole project
* Ignore all errors from a specific file
* Ignore error types (or all errors) from a specific line

Is there a possibility to ignore specific error types of a whole file?

[2017-07-15 03:11] csko commented on #272
+1

[2017-07-24 21:26] Riverfount commented on #272
My [package](https://landscape.io/github/Riverfount/cpf_validator) had 25 percentage point decrease in its health because I used the f-string syntax, that's terrible!!

[2017-07-31 19:54] danmichaelo opened #286 "Wrong organizations/accounts show up in "Account:" list at "Watch new repository" page"
On Github I have granted Landscape access to 6 organizations. Under "Account:" at https://landscape.io/repository/add I also see 6 accounts (should have been 7 including my personal account I guess?), but they are not the same accounts!

When trying github synchronization, it says that the sync was successful, but the situation is still the same.

[2017-08-11 06:50] skudriashev commented on #269
Same here https://landscape.io/github/apache/incubator-airflow/pulls/2512

[2017-08-15 08:34] skudriashev commented on #269
Guys, is anyone looking into this issue?

[2017-08-15 08:41] skudriashev commented on #260
Guys, any updates on this?

[2017-08-15 08:42] skudriashev commented on #209
Having this issue: https://landscape.io/github/apache/incubator-airflow/pulls/2520

[2017-08-17 10:12] skudriashev commented on #149
@carlio it still gives an error https://landscape.io/github/apache/incubator-airflow/pulls/2511. Anybody working on this?

[2017-08-17 10:12] skudriashev commented on #209
@carlio could you please answer this?

[2017-08-17 10:13] skudriashev commented on #276
@carlio still doesn't work https://landscape.io/github/apache/incubator-airflow/pulls/2511

[2017-08-20 23:56] ssokolow opened #287 "Landscape not acknowledging fast-forward merge"
I just came back to working on [this project](https://landscape.io/github/ssokolow/quicktile) and, while Landscape did check the commits I made to the `multiple_files` branch, it still shows the score for the main branch as it was before those commits were fast-forward merged. (99% when it should be 95% from being dragged down by `gtkexcepthook.py`.)

(Specifically, it's still acting as if check 5

[2017-08-20 23:59] ssokolow commented on #45
If I remember correctly, this is what the `extension-pkg-whitelist` option is for in `.pylintrc`.

You give it a list of packages it can't see inside and it ignores them. (Last I checked, the default value was `gtk,pango`)

[2017-09-02 06:13] mxlei01 opened #288 "Prospector fails on my repo"
Hi All,

I have a repo that fails without any error messages.

This is my settings file:

[code]

When I run prospector locally, I get:

[code]

I have 0 errors since I fixed everything before checking in the repository.

[2017-09-06 10:50] pennyarcade commented on #288
Hello @mxlei01 ,

some settings that are valid for prospector do not seem to work on landscape.io, especially if you installed prospector with [with-everything] locally.
The only way to debug that seems to be commenting everything in `.landscape.yml` and then commenting settings in one by one until you find the setting that breaks it.
Its a time consuming process to comment in setting, commit and

[2017-09-06 11:18] pennyarcade commented on #288
Here are my results:
[code]
works for me...

Including vulture breaks it though:
[code]

It took only 2 hours to find out... -.-

[2017-09-22 21:57] mathuin commented on #264
In retrospect, this is merely a special case of #214 so I'm going to close it.

[2017-09-22 21:57] #264 closed, assigned to nobody

[2017-10-10 11:06] cod3monk opened #289 "Landscape runns never finish"
I have been unable to get a result on landscape.io for github/RRZE-HPC/kerncraft for some time. Many commits have taken place in between.

Is there anything that I can to correct that issue?

[2017-10-11 11:02] IceflowRE commented on #173
Something new here?

[2017-10-11 16:23] fabiocaccamo commented on #289
Same problem, this is my repo: https://github.com/fabiocaccamo/python-codicefiscale

[2017-10-17 10:24] cod3monk commented on #289
Landscape.io seems to be back on track. Thanks!

[2017-10-17 10:24] #289 closed, assigned to nobody

[2017-10-24 11:42] spaceone opened #290 "Endless run now since 24 hours"
There are no status information. My build now runs since more than 24 hours.
https://landscape.io/github/univention/univention-corporate-client-integration/2

[2017-10-24 11:43] spaceone opened #291 "Wrong initial branch is used"
Instead of the "default branch" configured in github the first alphabetical branch is used for the inital check. This should be changed.

[2017-10-25 07:44] algorys commented on #290
Have the same problem with a new repository added:

https://landscape.io/github/algorys/cmakeconverter/4

All build seems stucks.

[2017-10-26 09:38] nicolaschotard commented on #290
I also have the same problem with the following repository added yesterday:

https://landscape.io/github/nicolaschotard/stackyter

[2017-10-27 14:36] hsiaoyi0504 commented on #290
Also for me https://landscape.io/github/NAL-i5K/genomics-workspace

[2017-11-01 20:03] spaceone commented on #290
It seems fixed.

[2017-11-02 10:24] spaceone commented on #290
It seems not fixed when adding a new repository. But the repository I added a week ago is now working.

[2017-11-02 13:42] hsiaoyi0504 commented on #290
The repo I added a week ago is still not working.

[2017-11-06 11:28] makhomed opened #292 "landscape.io hung at "Running First Check""
I add two new repositories to landscape.io,

https://landscape.io/github/makhomed/autobackup
and https://landscape.io/github/makhomed/fabrix

but landscape.io hung at "Running First Check"...

How I can fix this issue?

[2017-11-10 12:29] allthatilk commented on #183
I'm having this 'connecting hooks' problem too. Was there a solve for this?

[2017-11-10 14:27] allthatilk opened #293 "landscape.io stuck connecting hooks"
None of our repos seem to be able to get past the 'connecting hooks' stage of setup

[https://landscape.io/repository/651902/status](https://landscape.io/repository/651902/status)

[2017-11-14 11:36] #116 closed, assigned to nobody

[2017-11-14 11:36] #118 closed, assigned to nobody

[2017-11-14 11:37] #141 closed, assigned to nobody

[2017-11-14 22:22] SunyataZero commented on #292
It's stuck on "Running..." on an old commit for me, but it has worked before. November 4 was the last date where an analysis was completed

[2017-11-15 13:25] nicolaschotard commented on #290
Same problem with a new repo added a few days ago https://landscape.io/github/nicolaschotard/bpz

[2017-11-15 15:46] jvlomax commented on #157
+1

[2017-11-15 16:14] kosack commented on #232
I have the same problem with https://landscape.io/github/cta-observatory/ctapipe/pulls/  - the PRs worked fine for a while, then stopped suddenly, with only  a status of "Comparsion did not run" or "Checks currently running" (which never completes, and no status is given)

[2017-11-15 16:19] IceflowRE commented on #290
Same here: https://landscape.io/github/IceflowRE/MR-eBook-Downloader

[2017-11-15 18:48] makhomed commented on #292
I stop using landscape.io service, so closing ticket.
Landscape.io is very slow and see only old commits in repository.
I switch to using prospector from command line:

[code]

[2017-11-15 18:48] #292 closed, assigned to nobody

[2017-11-29 14:55] lafrech commented on #287
I'm afraid I'm facing the same issue.

I have a few recent commits in there:
https://github.com/Nobatek/flask-rest-api/commits/master

But landscape seems still stuck in September:
https://landscape.io/github/Nobatek/flask-rest-api/

Looks like I configured it wrong, but I can't tell what the problem is.

[2017-12-14 08:29] jonas-eschle commented on #290
Same here: https://landscape.io/github/Phynix/yamlloader

[2017-12-17 14:30] bwohlberg commented on #293
I have a similar problem, but the repo is stuck in the 'checking out' phase

https://landscape.io/repository/335385/status

[2017-12-21 08:59] toolswatch commented on #290
same here for at least 10 DAYS !!!!!
https://landscape.io/github/toolswatch/vFeed/33
https://landscape.io/github/toolswatch/vFeed/32
https://landscape.io/github/toolswatch/vFeed/31
https://landscape.io/github/toolswatch/vFeed/30

It seems i cant even stop those checks !!

[2018-01-03 02:14] drdhaval2785 opened #294 "Automatic github issue generation"
Usually when landscape.io gives me some notifications, it would roughly mean that I will try to correct that code.
It would be worthwhile to give a button from where I can click and get a github issue regarding code quality issues.
e.g. https://github.com/drdhaval2785/python-prakriya/issues/4 would be something I would love. It would help me track the code correction.

[2018-01-03 02:40] drdhaval2785 opened #295 "Docs link dead"
https://docs.landscape.io/gettingstarted.html

Gives error

[2018-01-03 20:50] KOLANICH opened #296 "Parse and use setup.cfg"

[2018-01-13 04:39] yannduran commented on #295
Expanding on the post above, _**'How do I setup Landscape?'**_ gives a 404 error. Not a good start for someone like me that has just discovered Landscape, and no idea how to get started.

[2018-01-17 15:55] spaceone commented on #290
Still waiting since month. It would be nice if a maintainer would react upon this.

[2018-01-18 12:03] ovv commented on #272
Any update on this ?

[2018-01-18 14:11] spaceone opened #297 "Feature Request: Show the causing-author"
It would be nice if there would be a list of all authors and which code-errors/smells/etc. belong to them (according to git blame of that line).

[2018-01-22 10:33] spaceone opened #298 "First check never stops if repository was empty"
If a repository was added to lanscape.io which is empty to the time being added then the first check never finishes.
After adding content to the repository further checks are executed successfully.
This blocks the overview site from ever being displayed. Instead the status-loading image is shown.

Workaround: remove the repository and add it again.

[2018-01-23 01:57] marvin-min opened #299 "FAQ page flew away"
https://docs.landscape.io/faq.html
It's gone~ LOL

[2018-01-26 16:26] nicolaschotard commented on #258
@carlio I reactive this issue because I have the exact same problem for an other project ([here](https://landscape.io/github/nicolaschotard/bpz/)). All the check that run the past month ended up with this `Failure reason: Unknown`. Is it also a problem of disk space on the worker?

And by the way, thanks for fixing the problem for the other repo!

[2018-01-29 15:45] maxfischer2781 opened #300 "Landscape fails running Prospector correctly"
It seems that there is still an issue when Landscape uses Prospector:

[Check 141 for chainlet devel](https://landscape.io/github/maxfischer2781/chainlet/141)

I've checked common causes reported in previous tickets:
- .landscale.yaml seems properly formatted https://github.com/landscapeio/landscape-issues/issues/243
- vulture is not in the yaml https://github.com/landscapeio/landscape-issues/issu

[2018-01-29 19:23] bittner commented on #263
I am also seeing this error. I see it for several repositories, e.g. [behave-django](https://landscape.io/github/behave/behave-django), [django-apptemplates](https://landscape.io/github/bittner/django-apptemplates), [django-analytical](https://landscape.io/github/jcassee/django-analytical).

![landscape-build-failing](https://user-images.githubusercontent.com/665072/35526756-c9dc1bb8-0528-11e8-80a

[2018-02-02 10:23] ecederstrand commented on #300
Having a similar issue. Most times I get a generic [`Failure reason: Unknown`](https://landscape.io/github/ecederstrand/exchangelib/500) but once in a while I get the same [`Prospector execution failed`](https://landscape.io/github/ecederstrand/exchangelib/472).

[2018-02-04 22:50] amorison opened #301 "landscape.io dashboard gives a 404"
The main page https://landscape.io/ gives a 404 since a few hours now...

Interestingly, the blog seems to be working https://blog.landscape.io/ but there is no message about an ongoing maintenance...

Is there something going on with landscape right now? It seems like @carlio hasn't replied to any issues in a while... Are you putting this project on the side? Any chance to see it back up in the n

[2018-02-06 15:13] AMDmi3 commented on #300
[Same](https://landscape.io/github/repology/repology/970) here

[2018-02-07 09:15] #301 closed, assigned to nobody

[2018-02-09 03:00] eyb1 commented on #295
So, no documentation then?

[2018-02-09 19:41] attzonko commented on #300
I have had the same issue as well ([see here](https://landscape.io/github/attzonko/mattermost_bot/10)). Is it possible it is related to being a fork? The original repo I forked from does not seem to have this issue.

[2018-02-15 15:55] maxfischer2781 commented on #300
@attzonko All my failed repos are original repos, not forks. I also observe this for original repos of other projects.

[2018-02-15 16:43] AMDmi3 commented on #300
I too have the problem with original repository.

@carlio ping?

[2018-02-15 23:23] WendelHime opened #302 "PR stuck working"
Pull request stuck on "working", if you click in a PR returns 404

Here is the [project](https://landscape.io/github/CapivaraProjects/GYResources/pulls/)

[2018-02-18 01:08] mabernardo commented on #295
+1
None of the links in https://docs.landscape.io/ is working.

[2018-02-20 07:32] algorys commented on #300
The same for me for 2 repos ([here](https://landscape.io/github/algorys/cmakeconverter) and [here](https://landscape.io/github/Alignak-monitoring-contrib/alignak-app)). I've tried to re run many time but build does not work.

[2018-02-25 02:23] #302 closed, assigned to nobody

[2018-02-28 15:19] jsarenik opened #303 "Please delete my landscape.io account"
Thank you

[2018-03-04 19:14] maduck commented on #300
bump @carlio: same [here](https://landscape.io/github/maduck/libnagios/15)

[2018-03-07 09:57] Borda opened #304 "missing public repos"
I am using the free plan and I expected to have listed all public repos from my profile, but I am missing some of them... I clicked several times sync GitHub profile, but nothing changed...

[2018-03-09 07:03] nooperpudd opened #305 "Unknown Error"
https://landscape.io/github/nooperpudd/plugboard

We don't know exactly why this error happened yet

[2018-03-14 08:06] andrewpetrochenkov opened #306 "FAQ 404"
help -> FAQ 404
https://docs.landscape.io/faq.html

[2018-03-14 08:09] andrewpetrochenkov opened #307 "github account renaming"
checks not works after GitHub account renaming

[2018-03-16 08:32] maduck commented on #305
same thing as #300

[2018-03-20 18:35] chinskiy commented on #306
also all another links in [docs](https://docs.landscape.io/) like
https://docs.landscape.io/gettingstarted.html
https://docs.landscape.io/suppressing.html
gives 404

[2018-03-24 11:59] peterbrittain commented on #300
I just checked my project too.  It has been broken since Jan with the exact same symptoms.  Is there anything happening here?  Can I help?

[2018-04-15 15:11] pennyarcade commented on #300
Same problem here.

It would be a great quick fix to make the prospector error message/stack trace available so your users can try to debug the problem. I am pretty sure I suggested that before.

[2018-04-23 22:30] Borda commented on #304
@carlio ^^

[2018-05-05 20:30] FedeG opened #308 "Landscape fails with "Failure reason: unknown""
Repository under consideration: https://landscape.io/github/eventoL/eventoL/192

I've tried to repeat the jobs, but in all cases I've got following error:

[code]

[2018-05-08 16:35] fabiocaccamo commented on #308
I have the same problem with this repo: [django-treenode](https://github.com/fabiocaccamo/django-treenode)

[2018-05-08 22:51] Borda commented on #304
@carlio typically those reports which were switched from private to public

[2018-05-08 22:55] #304 closed, assigned to nobody

[2018-05-25 10:46] giffels commented on #308
Same problem with https://github.com/giffels/CloudStackAIO.

Thanks and best regards,
Manuel

[2018-06-01 08:41] ahnitz commented on #308
Same problem. https://landscape.io/github/gwastro/pycbc

[2018-06-05 21:14] vermiculus commented on #303
Duplicate of #282

[2018-06-10 18:39] dvorapa commented on #305
Also for https://landscape.io/github/wikimedia/pywikibot/

[2018-06-17 01:53] nolanbconaway commented on #258
Having this problem, what's up?

https://landscape.io/github/AusterweilLab/jarjar/14

[2018-06-17 01:55] nolanbconaway commented on #308
Same problem https://landscape.io/github/AusterweilLab/jarjar/14

[2018-07-26 14:32] maxfischer2781 commented on #308
See also issue #300.

[2018-09-18 13:33] spaceone commented on #308
Same problem https://landscape.io/github/spaceone/httoop/121

[2018-10-10 00:45] freude commented on #293
I have similar issue. It is second day I am at the stage of connecting hooks.
https://landscape.io/repository/798927/status

[2018-10-12 04:02] freude commented on #293
How have you resolved that issue, guys?

[2018-10-12 13:34] bwohlberg commented on #293
See also issue #308. My sense from the long list of open issues without any response is that landscape.io is no longer providing support. Your best option is probably just to switch to one of the many alternative services.

[2018-11-12 21:08] Zitrax commented on #305
And same as #308.

[2018-12-02 23:51] bittner commented on #263
Any update on this?

[2018-12-03 00:03] carlio commented on #263
Yeah so I am basically rewriting a lot of Landscape right now to handle so many dependency changes. It's on the way...

[2019-02-13 16:43] jtmoon79 commented on #293
Same issue
https://landscape.io/repository/820814/status

[2019-03-23 13:31] pgularski commented on #300
Any updates on this one and #308 ? I'm having the same problem [here](https://landscape.io/github/pgularski/pysm) .

[2019-03-26 18:17] fliiiix opened #309 "SSL certificat is without certificat chain"
At [radish]( https://github.com/radish-bdd/radish ) the status badge is broken.
As seen here:

![Screenshot_2019-03-26 radish-bdd radish](https://user-images.githubusercontent.com/1682954/55022471-e68e1400-4ffa-11e9-8bc9-f4e3e44a7b94.png)

This is due to that the github caching failed. And according to there support this happens because they need the entire certificate chain provided.
But https://

[2019-04-01 06:00] akhilputhiry commented on #183
@carlio My repository is also stuck https://landscape.io/repository/824753/status. Please help

Edit: I tried deleting the previous one and tried creating new. Still it is stuck :(

[2019-04-01 19:31] akhilputhiry opened #310 "Repository setup running forever"
I tried to import a repo and the import is running for the last 1 day.
Looks like its stuck some where.
https://landscape.io/repository/824753/status

[2019-04-07 05:52] botanicvelious commented on #310
same https://landscape.io/repository/825011/status

[2019-04-08 19:29] Freso commented on #173
Guess it’s my turn for the annual request for an update. :)

[2019-04-16 08:24] akoidan opened #311 "readme badge doesn't work (certificate error)"
Repository [pychat](https://github.com/akoidan/pychat) has [landscape.svg](https://landscape.io/github/akoidan/pychat/master/landscape.svg) badge, which github caches into camo. If you access badge via browser it works, however camo is unable to access the badge. Furthermore if I try to get it from console i get:

[2019-05-20 12:22] hoefling commented on #311
Same issue is also observable when rendering the readme on PyPI; an example: [`devpi-client-extensions`](https://pypi.org/project/devpi-client-extensions/) project page.

[2019-05-20 12:23] hoefling commented on #311
Same issue is also observable when rendering the readme on PyPI; an example: [`devpi-client-extensions` project page](https://pypi.org/project/devpi-client-extensions/).

[2019-07-01 07:16] matthewfeickert commented on #311
This is also happening for pyhf both on [GitHub](https://github.com/diana-hep/pyhf) and [PyPI](https://pypi.org/project/pyhf/). However, it is working on our [GitHub pages hosted docs](https://diana-hep.org/pyhf/).

cc @kratsg @lukasheinrich

[2019-07-10 01:58] #207 closed, assigned to nobody

[2019-12-31 17:39] #282 closed, assigned to nobody

[2019-12-31 17:39] #283 closed, assigned to nobody

[2019-12-31 17:39] #284 closed, assigned to nobody

[2019-12-31 17:39] #285 closed, assigned to nobody

[2019-12-31 17:39] #286 closed, assigned to nobody

[2019-12-31 17:39] #287 closed, assigned to nobody

[2019-12-31 17:39] #288 closed, assigned to nobody

[2019-12-31 17:39] #290 closed, assigned to nobody

[2019-12-31 17:39] #291 closed, assigned to nobody

[2019-12-31 17:39] #293 closed, assigned to nobody

[2019-12-31 17:39] #294 closed, assigned to nobody

[2019-12-31 17:39] #295 closed, assigned to nobody

[2019-12-31 17:39] #296 closed, assigned to nobody

[2019-12-31 17:39] #297 closed, assigned to nobody

[2019-12-31 17:39] #298 closed, assigned to nobody

[2019-12-31 17:39] #299 closed, assigned to nobody

[2019-12-31 17:39] #300 closed, assigned to nobody

[2019-12-31 17:39] #303 closed, assigned to nobody

[2019-12-31 17:39] #305 closed, assigned to nobody

[2019-12-31 17:39] #306 closed, assigned to nobody

[2019-12-31 17:39] #307 closed, assigned to nobody

[2019-12-31 17:39] #308 closed, assigned to nobody

[2019-12-31 17:39] #309 closed, assigned to nobody

[2019-12-31 17:39] #310 closed, assigned to nobody

[2019-12-31 17:39] #311 closed, assigned to nobody

[2019-12-31 17:39] #244 closed, assigned to nobody

[2019-12-31 17:39] #245 closed, assigned to nobody

[2019-12-31 17:39] #251 closed, assigned to nobody

[2019-12-31 17:39] #252 closed, assigned to nobody

[2019-12-31 17:39] #253 closed, assigned to nobody

[2019-12-31 17:39] #254 closed, assigned to nobody

[2019-12-31 17:39] #256 closed, assigned to nobody

[2019-12-31 17:39] #257 closed, assigned to nobody

[2019-12-31 17:39] #258 closed, assigned to nobody

[2019-12-31 17:39] #259 closed, assigned to nobody

[2019-12-31 17:39] #260 closed, assigned to nobody

[2019-12-31 17:39] #261 closed, assigned to nobody

[2019-12-31 17:39] #262 closed, assigned to nobody

[2019-12-31 17:39] #263 closed, assigned to nobody

[2019-12-31 17:39] #265 closed, assigned to nobody

[2019-12-31 17:40] #267 closed, assigned to nobody

[2019-12-31 17:40] #268 closed, assigned to nobody

[2019-12-31 17:40] #269 closed, assigned to nobody

[2019-12-31 17:40] #270 closed, assigned to nobody

[2019-12-31 17:40] #271 closed, assigned to nobody

[2019-12-31 17:40] #272 closed, assigned to nobody

[2019-12-31 17:40] #274 closed, assigned to nobody

[2019-12-31 17:40] #279 closed, assigned to nobody

[2019-12-31 17:40] #280 closed, assigned to nobody

[2019-12-31 17:40] #281 closed, assigned to nobody

[2019-12-31 17:40] #157 closed, assigned to nobody

[2019-12-31 17:40] #161 closed, assigned to nobody

[2019-12-31 17:40] #163 closed, assigned to nobody

[2019-12-31 17:40] #165 closed, assigned to nobody

[2019-12-31 17:40] #173 closed, assigned to nobody

[2019-12-31 17:40] #177 closed, assigned to nobody

[2019-12-31 17:40] #184 closed, assigned to nobody

[2019-12-31 17:40] #189 closed, assigned to nobody

[2019-12-31 17:40] #196 closed, assigned to nobody

[2019-12-31 17:40] #198 closed, assigned to nobody

[2019-12-31 17:40] #199 closed, assigned to nobody

[2019-12-31 17:40] #206 closed, assigned to nobody

[2019-12-31 17:40] #212 closed, assigned to nobody

[2019-12-31 17:40] #213 closed, assigned to nobody

[2019-12-31 17:40] #214 closed, assigned to nobody

[2019-12-31 17:40] #215 closed, assigned to nobody

[2019-12-31 17:40] #218 closed, assigned to nobody

[2019-12-31 17:40] #221 closed, assigned to nobody

[2019-12-31 17:40] #227 closed, assigned to nobody

[2019-12-31 17:40] #228 closed, assigned to nobody

[2019-12-31 17:40] #230 closed, assigned to nobody

[2019-12-31 17:40] #233 closed, assigned to nobody

[2019-12-31 17:40] #238 closed, assigned to nobody

[2019-12-31 17:40] #239 closed, assigned to nobody

[2019-12-31 17:40] #241 closed, assigned to nobody

[2019-12-31 17:40] #5 closed, assigned to nobody

[2019-12-31 17:40] #40 closed, assigned to nobody

[2019-12-31 17:40] #43 closed, assigned to nobody

[2019-12-31 17:40] #45 closed, assigned to nobody

[2019-12-31 17:40] #47 closed, assigned to nobody

[2019-12-31 17:40] #48 closed, assigned to nobody

[2019-12-31 17:40] #55 closed, assigned to nobody

[2019-12-31 17:40] #62 closed, assigned to nobody

[2019-12-31 17:40] #63 closed, assigned to nobody

[2019-12-31 17:40] #75 closed, assigned to nobody

[2019-12-31 17:40] #78 closed, assigned to nobody

[2019-12-31 17:40] #81 closed, assigned to nobody

[2019-12-31 17:40] #82 closed, assigned to nobody

[2019-12-31 17:40] #84 closed, assigned to nobody

[2019-12-31 17:40] #95 closed, assigned to nobody

[2019-12-31 17:40] #110 closed, assigned to nobody

[2019-12-31 17:40] #115 closed, assigned to nobody

[2019-12-31 17:40] #121 closed, assigned to nobody

[2019-12-31 17:40] #128 closed, assigned to nobody

[2019-12-31 17:40] #129 closed, assigned to nobody

[2019-12-31 17:40] #140 closed, assigned to nobody

[2019-12-31 17:40] #144 closed, assigned to nobody

[2019-12-31 17:40] #148 closed, assigned to nobody

[2019-12-31 17:40] #150 closed, assigned to nobody

[2019-12-31 17:40] #151 closed, assigned to nobody

[2019-12-31 17:40] #2 closed, assigned to nobody

[2019-12-31 17:54] szepeviktor commented on #257
@carlio Are you closing the business?

[2019-12-31 20:27] KOLANICH commented on #296
Has it been implemented?

[2020-01-01 11:22] Freso commented on #173
Was this closed because it’s been implemented, or because it’s been discarded and won’t be implemented?

[2020-01-01 11:23] carlio commented on #173
Landscape basically died and I'm trying to rebuild it so to get a fresh start I mass-closed the issues. I will try to do this eventually though but it rather depends on the rewrite.

[2020-01-02 01:09] yannduran commented on #295
So, no comment from any Landscape team member, and this issue just gets summarily closed?

I guess the developers just don't care.

[2020-01-02 02:33] drdhaval2785 commented on #295
It seems that landscape.io is also dead now. It shows only Back soon message. Therefore it seems that the developers are not going to pursue these issues.

[2020-11-24 04:06] LeeNg commented on #131
I'm not a lawyer, so maybe I'm misinterpreting GitHub's requirement, but does this statement, "This application will be able to read your private email addresses.", mean that GitHub has access to my Yahoo account and read all of it's email? If yes, why the need for such intrusion?

[2020-11-24 07:19] matkoniecz commented on #131
No, it will be able to see email address (something@something.pl).

Not contents of email inbox.

[2020-12-18 20:44] lignumpy commented on #131
So it can't read the contents of an email, but why does it need to read email addresses?

[2020-12-18 20:45] carlio commented on #131
In order to be able to send email notifications when checks ran.

No need to worry now though, it's shut down.

[2022-05-01 09:22] inuoshios commented on #131
Thanks for this reply, @carlio. 👍